<hr class="dotted-line">
<div class="row text-center pt-2">
  <div class="col col-md-8 mx-auto">
    <a href="javascript:void(0)" class="btn btn-secondary">Keep completing your profile</a>
    <p class="mt-2 fs-7">So we can find more studies that fit your lifestyle</p>
  </div>
</div>
<hr class="dotted-line mt-2">
<div class="mt-3">
  <a class="btn btn-light" data-callback="onSubmit" href="/">Go to main page</a>
</div>