---
import Layout from '../../../layouts/Layout.astro';

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';


// Images
import { Image } from 'astro:assets';
import imgSquadHome from '../../../assets/images/projects/censydiam/squad-home.png';
import imgPlanet from '../../../assets/images/projects/censydiam/planet.png';

---
<Header/>
<Layout title="Censydiam">
    <!-- START: Intro -->
    <div class="panel panel-intro-blue">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <Image src={imgSquadHome} class="img-fluid" alt="" aria-hidden="true" />
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">                    
                    <h1 class="text-white mb-3">Unleash Your Hidden  Superpower ⚡</h1>
                    <p class="lead text-white">Your thoughts aren't just opinions, they're superpowers that can shape the world!  Are you a creative mastermind or a wisdom guru? Uncover your inner superpower with our quiz.</p>
                    <a href="quiz_flow_01" class="btn btn-light btn-start btn-lg px-5 mt-4">Start Quiz!</a>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- END: Intro -->

   <!-- START: Panel Grey -->
   <div class="panel panel-grey">
        <div class="container">
            <div class="row mt-3 mb-5">
                <div class="col-12 text-center"> 
                    <p>Check out what others say</p>                 
                    <!-- TrustBox widget - Micro Combo -->
                    <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="618c353f8da731d4b18a79ae" data-style-height="20px" data-style-width="100%" data-theme="light">
                        <a href="https://www.trustpilot.com/review/www.ipsosisay.com" target="_blank" rel="noopener">Trustpilot</a>
                    </div>
                    <!-- End TrustBox widget -->
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-12 text-center">                    
                    <Image src={imgPlanet} class="img-fluid" alt="" aria-hidden="true" />
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">                    
                    <h2>Ready to Join the Ipsos iSay Panel?</h2>
                    <p class="lead">Want to skip the quiz and dive right into the Ipsos iSay experience? Your journey of impact and rewards starts here.</p>
                    <a href="https://www.ipsosisay.com/join/?campaign_id=1000&locale=en_US&subid=home&extrasubid=" class="btn btn-secondary btn-lg px-5 mt-4">Become a member!</a>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- END: Intro -->
</Layout>
<Footer/>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>

<style>
.panel.panel-intro-blue {
    background: linear-gradient(to bottom right, #009CFF, #0063AA);
}

.btn.btn-light.btn-start {
    color: #009CFF !important;
}

</style>