---
import Layout from '../../../layouts/Layout.astro';

import Header from '../../../components/Header.astro';
import PanelFeatures from '../../../components/projects/censydiam/PanelFeatures.astro';
import Footer from '../../../components/Footer.astro';

---
<Header/>
<Layout title="Creative">
<!-- START: Intro -->
<div class="panel panel-results panel-results-blue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 text-white">                    
                <p class="mb-1">Your superpower is...</p>
                <h1>Loyal Protection</h1>
                <p class="lead">Finding peace and calm in the midst of chaos is your super ability! You're all about creating cozy and safe spaces, where you and your loved ones can relax and unwind. Your presence brings harmony and joy everywhere you go.</p>
                <div class="mt-2 mb-4 pb-1 text-center"><img class="img-fluid" src="images/dog.png" alt="Dog"></div>
                <hr class="mb-4">
                <p class="lead">Your adventure has only just begun! Uncover more traits of your <strong>Loyal Protection</strong> superpower and use them to influence the world around you.</p>
                <p class="lead">Join the Ipsos iSay community, where every opinion holds the power to shape the future.</p>
                <p class="lead">Sign up to unlock more insights and make an impact!</p>
            </div><!-- col -->
            <div class="col-12 col-lg-6">
                <h2 class="fs-3 text-white">Sign up for Ipsos iSay</h2>              
                <div class="panel panel-default mt-3 p-4">
                <!-- START: Form -->
                    <form id="registrationForm" role="form">

                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" autocapitalize="off" class="form-control" id="email" placeholder="Your email address.." name="email" autocomplete="home email">
                            <p class="validation-warn font-size-xs text-danger mt-2 d-none">The email is either empty or invalid.</p>
                        </div><!-- /.form-group -->

                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" class="form-control" id="passwordInput" data-indicator="pwindicator" onkeypress="capLock(event)" placeholder="Choose password" data-trigger="focus" data-placement="top">
                            <div class="row mt-2">
                                <div class="col">
                                    <div id="divMayus" class="caps-on font-size-xs" style="display:none"><i class="fa fa-exclamation-circle"></i> Caps Lock is on</div>
                                    <div id="passRequirements" class="inputhelper" style="display:none">
                                        <p class="font-size-xs text-secondary">Passwords are case sensitive and need to be at least 7 characters long.</p>
                                    </div>
                                </div>
                            </div><!-- row -->
                            <p class="validation-warn font-size-xs text-danger mt-2 d-none">The password you entered is not valid, please try again.</p>
                        </div><!-- /.form-group -->

                        <div class="row mb-3">
                            <div class="col-md-6 mb-2">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Your name.." name="name" autocomplete="name">
                                <p class="validation-warn font-size-xs text-danger mt-2 d-none">Empty or invalid.</p>
                            </div><!-- /.col -->
                            <div class="col-md-6 mb-2">
                                <label for="family-name" class="form-label">Surname</label>
                                <input type="text" class="form-control" id="family-name" placeholder="Your surname.." name="family-name" autocomplete="family-name">
                                <p class="validation-warn font-size-xs text-danger mt-2 d-none">Empty or invalid.</p>
                            </div><!-- /.col -->
                        </div><!-- row -->

                        <div class="mt-2 pt-2 mb-4">
                            <p class="control-label control-label-radio">What gender identifies you?</p>
                            <div class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input icheck" type="radio" name="group1" id="radio1" value="option1">
                                    <label class="form-check-label icheck-label" for="radio1">Female</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input icheck" type="radio" name="group1" id="radio2" value="option2">
                                    <label class="form-check-label icheck-label" for="radio2">Male</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input icheck" type="radio" name="group1" id="radio3" value="option3">
                                    <label class="form-check-label icheck-label" for="radio3">Non-Binary</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input icheck" type="radio" name="group1" id="radio4" value="option4">
                                    <label class="form-check-label icheck-label" for="radio4">Prefer not to answer</label>
                                    <p class="validation-warn font-size-xs text-danger mt-2 d-none">You need to specify your gender.</p>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.form-group -->

                        <div class="mb-3">
                            <label for="bday" class="form-label">Month/Year of birth</label>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <select class="form-select" id="bday-month" name="bday-month" autocomplete="bday-month">
                                        <option disabled selected>Month</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                    </select>
                                </div><!-- col -->
                                <div class="col-sm-6 mb-3">
                                    <select class="form-select" id="bday-year" name="bday-year" autocomplete="bday-year">
                                        <option disabled selected>Year</option>
                                        <option>1976</option>
                                        <option>1977</option>
                                        <option>1978</option>
                                        <option>1979</option>
                                    </select>
                                </div><!-- col -->
                            </div><!-- row -->
                            <p class="validation-warn font-size-xs text-danger mt-2 d-none">Your birth date has missing fields.</p>
                        </div><!-- /.form-group -->

                        <!-- Terms & Conditions -->
                        <div class="row form-group margin-top-sm margin-bottom-md">
                            <div class="col">

                                <div class="checkbox">
                                    <label class="icheck-label">
                                        <span><input class="icheck" type="checkbox"></span><span> I accept the <a target="_blank" href="https://www.ipsosisay.com/en-us/terms-and-conditions">terms and
                                                conditions</a>, including the use of cookies and the use of my personal
                                            information, as further described in the <a target="_blank" href="https://www.ipsosisay.com/en-us/privacy-policy">privacy
                                                policy</a>.</span>
                                    </label>
                                </div><!-- checkbox -->

                            </div><!-- col -->
                        </div><!-- /.form-group -->

                        <div class="row form-group mt-4">
                            <div class="col-12">
                                <a href="javascript:void();" class="btn btn-primary d-block py-2 fs-5">Sign up</a>
                            </div>
                        </div>

                    </form>
    
                </div><!-- panel -->
            </div><!-- col  -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- END: Intro -->

   
</Layout>
<PanelFeatures/>
<Footer/>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>

<style>
.panel.panel-intro-blue {
    background: linear-gradient(to bottom right, #009CFF, #0063AA);
}

.btn.btn-light.btn-start {
    color: #009CFF !important;
}

</style>