---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";

import { Image } from 'astro:assets';
import iconId from '../../../assets/images/icons/fa-id.svg';

// CSS to be optimized
import '../../../assets/styles/p1/survey-flow.css';
---

<Layout title="Survey Experience">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 mx-auto">
      <div class="d-flex align-items-center">
        <Image src={iconId} class="img-fluid me-1" alt="Ipsos iSay" />
        <span class="ml-2">Consumer Information <i class="fa-solid fa-arrow-right"></i> <span class="text-secondary">Automotives</span></span>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class= "sem-container-progress">
            <div class="progress-pill completed"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill"></div>
            <div class="progress-pill last"></div>
          </div><!-- /.container-progress -->
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="container content">
      <div class="row"  transition:name="fadeAnimate" transition:animate="fade">
        <div class="col-12 col-sm-10 col-md-8 mx-auto">
          <div class="panel">
            <div class="row">
              <div class="col">

                <h1 class="h2 mt-2 fw-light">Which, if any, of the following non-alcoholic drinks do you drink at least once a month?</h1> 
                
                <div class="mt-4">       

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Energy drinks <span class="fs-7">(e.g. Red Bull, Red Rooster)</span></label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Sports drinks <span class="fs-7">(e.g. Lucozade Sport, Powerade)</span></label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Ready-to-drink cold coffee in can or bottle</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox4">Regular hot coffee <span class="fs-7">(ground coffee)</span></label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox5">Instant coffee</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox6">Regular ready-to-drink tea in can or bottle <span class="fs-7">(e.g. Lipton, Nestea)</span></label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                    <label class="form-check-label" for="inlineCheckbox7">Hot tea</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                    <label class="form-check-label" for="inlineCheckbox8">Infusions, herbal teas</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                    <label class="form-check-label" for="inlineCheckbox9">Regular sodas/fizzy drinks <span class="fs-7">(e.g. Fanta, Sprite)</span></label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                    <label class="form-check-label" for="inlineCheckbox10">Natural juices / Nectars / Non-carbonated fruit drinks</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
                    <label class="form-check-label" for="inlineCheckbox11">Still Water</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
                    <label class="form-check-label" for="inlineCheckbox12">Sparkling water</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
                    <label class="form-check-label" for="inlineCheckbox13">Milk / Yogurt / Smoothies</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14">
                    <label class="form-check-label" for="inlineCheckbox14">Non-alcoholic beer</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option15">
                    <label class="form-check-label" for="inlineCheckbox15">Hot chocolate</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option16">
                    <label class="form-check-label" for="inlineCheckbox16">Other beverages</label>
                  </div>

                  <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option17">
                    <label class="form-check-label" for="inlineCheckbox17">None of the above</label>
                  </div>

                </div>

              </div>
            </div><!-- row -->

            <div class="mt-2 dotted-top">
              <a class="btn btn-secondary mt-3" data-callback="onSubmit" href="/p1/profiling/single-choice">Next</a>
            </div>
          </div><!-- panel -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <FooterSurvey />
  </div><!-- /.container-fluid -->
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  @view-transition {
    navigation: auto; 
  } 
  
</style>
