---
import Layout from "../../../../layouts/Layout.astro";

import HeaderClear from "../../../../components/HeaderClear.astro";
import FooterClear from "../../../../components/FooterClear.astro";

import { Image } from "astro:assets";
import imgClearErrorMobile from "../../../../assets/images/p1/recruitment/errorPageMain-mobile.jpg";
import imgClearErrorDesktop from "../../../../assets/images/p1/recruitment/errorPageMain-desktop.jpg";
---

<Layout title="CLEAR Intro">
  <HeaderClear />

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-xxl-8 mx-auto">
        <div class="row mt-md-4 mb-5 d-flex justify-content-center align-items-center">
          <!-- Left Side - Large Image -->
          <div class="col-md-5">
            <Image src={imgClearErrorMobile} class="d-md-none img-fluid rounded" alt="" aria-hidden="true"  />
            <Image src={imgClearErrorDesktop} class="img-fluid d-none d-md-block rounded" alt="" aria-hidden="true" />
          </div>
          <!-- Right Side - Form with custom container -->
          <div class="col-md-7">
            <h1 class="h2 mt-3 mt-sm-none mb-4">Thank you for your interest in Ipsos iSay</h1>
            <p class="mb-4">We really appreciate you taking the time to apply to our community.</p>
            <p class="mb-4 fs-5 text-warning">While your profile is impressive, it doesn't quite align with the specific needs of our current research studies, and we are unable to invite you to participate.</p>

            <p class="mb-4">This may change in the future as our research needs evolve.</p>

            <p>If you think there might have been a mistake, we’re here to help. Please reach out to our <a href="mailto:something@ipsos.com">member support team</a>, and we’ll gladly investigate it for you.</p>

            <a href="mailto:something@ipsos.com" type="submit" class="btn btn-gray mt-3 d-block d-sm-inline">Contact Support</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <FooterClear />
</Layout>