---
import Layout from "../../../../layouts/Layout.astro";

import HeaderClear from "../../../../components/HeaderClear.astro";
import FooterClear from "../../../../components/FooterClear.astro";
---

<Layout title="Recruitment Exit · Ipsos iSay">
  <div class="container-fluid container-full-height px-0">
    <HeaderClear />

    <!-- Main Content -->
    <div class="container content py-3">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="text-center">
            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-badge-check.svg" class="img-fluid me-1" alt="Ipsos iSay" />
            <h1 class="h3 mt-2">Well done!</h1>
            <div class="alert alert-success mt-2 text-center">
              <p class="fs-5 mb-0 text-muted">You earned your first <i class="fa-solid fa-star text-warning"></i> <strong class="text-success-plus-2">150 points</strong>!</p>
            </div>
            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/survey/anim-confetti.gif" class="img-fluid" style="margin-top: -120px; mix-blend-mode: multiply;" aria-hidden="true" alt="" />
            <p class="fs-7 text-center">Now, take your first survey to earn your next <i class="fa-solid fa-star text-warning"></i> <strong class="text-main">100 points</strong> </p>
            <div class="row align-items-center mt-4 pt-2">
              <div class="col-12 col-sm-6 text-sm-end">
                <a href="javascript:void(0)" class="btn btn-primary btn-lg d-sm-inline">Start Survey</a>
              </div>
              <div class="col-12 col-sm-6 text-sm-start">
                <a href="#" class="btn btn-sm btn-white mt-3 mt-sm-0" data-bs-toggle="modal" data-bs-target="#modalPoints">How do points work?</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <FooterClear />
  </div>
</Layout>

<!-- Modal: How do points work? -->
<div class="modal fade" id="modalPoints" tabindex="-1" aria-labelledby="modalPointsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header border-0 mt-3">
        <h5 class="modal-title h4">How do points work?</h5>
        <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="d-flex align-items-start mt-2 mb-3">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-memo.svg" class="icon-modal me-3" aria-hidden="true" alt="" />
          <div>
            <h3 class="h5 text-dark">Earn points</h3>
            <p class="mb-0">Take surveys to earn points. You’ll also get points when you participate in special research opportunities like product testing and live studies.</p>
          </div>
        </div>

        <div class="d-flex align-items-start my-3">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-gift.svg" class="icon-modal me-3" aria-hidden="true" alt="" />
          <div>
            <h3 class="h5 text-dark">Choose your rewards</h3>
            <p class="mb-0">Visit our rewards catalog to redeem points for your choice of exciting gift cards, cash transfers, and more!</p>
          </div>
        </div>

        <div class="d-flex align-items-start my-3">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-mobile-alt.svg" class="icon-modal me-3" aria-hidden="true" alt="" />
          <div>
            <h3 class="h5 text-dark">Get our mobile app</h3>
            <p class="mb-0">Download the Ipsos iSay mobile app to access exclusive surveys and earn even more points.</p>
          </div>
        </div>
      </div>

      <div class="modal-footer border-0 justify-content-start">
        <a type="button" class="btn btn-gray btn-block mb-1" data-bs-dismiss="modal">Got it</a>
      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->

<a href="error" type="button" class="btn btn-sm btn-danger btn-variants">
  ID validation failed
</a>


<style>
  html,
  body {
    height: 100%;
  }
  .container-full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .panel.panel-bg-success-minus-2 {
    background: var(--bg-success-minus-2);
  }
  .panel.panel-bg-primary-minus-2 {
    background: var(--bg-primary-minus-2);
  }

  .panel.panel-gray-minus-2 {
    background: var(--bg-gray-minus-2);
  }

  /* Modal: How do points work? */

  .icon-modal {
    width: 50px;
    height: 50px;
  }

  .modal-body h3 {
    font-weight: 600;
  }

  .modal-body p {
    font-size: 0.95rem;
  }

  .modal-body img {
    max-width: 100%;
    height: auto;
  }
</style>
