---
import Layout from "../../../../layouts/Layout.astro";

import HeaderClear from "../../../../components/HeaderClear.astro";
import FooterClear from "../../../../components/FooterClear.astro";
---

<Layout title="CLEAR Intro">
  <HeaderClear />
  <div class="panel panel-bg-success-minus-2 py-2 mt-3 mb-5 border-0 text-center text-success">
    <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-envelope-circle-check-g.svg" class="img-fluid" alt="" aria-hidden="true" />
    Your email account was successfully confirmed!
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-xxl-8 mx-auto">
        <div class="row mb-5">
          <!-- Left Side - Large Image -->
          <div class="col-md-5">
            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/man-woman-chatting-mobile.jpg" class="d-md-none img-fluid rounded" alt="" aria-hidden="true"  />
            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/man-woman-chatting-desktop.jpg" class="img-fluid d-none d-md-block rounded" alt="" aria-hidden="true" />
          </div>
          <!-- Right Side - Form with custom container -->
          <div class="col-md-7">
            <h1 class="h2 mt-3 mt-sm-none mb-4">We're real. Let's make sure you are too</h1>
            <p class="mb-4">Ipsos has been at the forefront of understanding the world’s pulse and empowering global decision-makers with insights since 1975.</p>
            <p class="mb-4">To ensure the authenticity of Ipsos iSay’s platform, <span class="text-main">it’s important for us to confirm that every voice we hear represents a real, authentic individual.</span></p>

            <h2 class="h4 mt-5 mb-2">Verify your identity</h2>
            <p class="mb-4">In the next steps, you'll be redirected to a quick and simple process to verify your ID.</p>

            <div class="panel panel-bg-primary-minus-2 py-2 mt-3 mb-3 border-0 rounded text-center">
              <p class="fs-7 mt-3 mb-2 text-main">
                You’ll earn your first reward for completing your ID verification! <br />
                <span class="fs-5 fw-bold text-primary d-block mt-2"><i class="fa-solid fa-star text-warning"></i> 150 points</span>
                <span class="d-block fs-7 text-gray-plus-1 mt-2">( 500 points = $5 reward )</span>
              </p>
            </div>

            <p class="fs-7 mt-4">To complete the ID verification process, you will need a mobile device with a camera and a government-issued photo ID, such as a passport or driver’s license.</p>

            <a href="exit" type="submit" class="btn btn-primary btn-lg px-5 mt-3 d-block d-sm-inline">Verify your ID</a>
          </div>
        </div>

        <div class="panel panel-gray-minus-2 rounded py-4 text-center text-md-start">
          <div class="row align-items-center">
            <!-- Left Side - Large Image -->
            <div class="col-lg-7">
              <iframe class="video-player" src="https://www.youtube.com/embed/4ICSlCZyQTg?si=0g1_s3clyHSjQHiJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <!-- <img src={videoPlayer} class="img-fluid" alt="" aria-hidden="true" /> -->
            </div>
            <!-- Right Side - Form with custom container -->
            <div class="col-lg-5">
              <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/logo-clear.png" class="img-fluid mt-4 mt-md-none mb-3" alt="Clear" aria-hidden="true" />
              <p class="mb-4">We’ve partnered with CLEAR, a trusted leader in secure identity verification that you might recognize from airports. </p>

              <a href="#" class="btn btn-sm btn-outline-primary mt-1" data-bs-toggle="modal" data-bs-target="#modalWhyVerify">Why verify your identity?</a>
            </div>
          </div>
        </div>


        <div class="panel panel-bg-primary-minus-2 rounded py-4 mt-5">
          <div class="row">
            <div class="col">
              <h2 class="h5 mb-2 text-center">Get verified in 3 easy steps</h2>
            </div>
          </div>

          <ol class="row list-unstyled fs-7 mt-3">
            <li class="col-12 col-md-4 d-flex align-items-start mb-3 mb-md-0">
              <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/square-1.svg" class="mt-1 me-2" alt="1" aria-hidden="true" />
              <p class="mt-1 mb-0 text-gray-plus-1">Create a free CLEAR account.</p>
            </li>
            <li class="col-12 col-md-4 d-flex align-items-start mb-3 mb-md-0">
              <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/square-2.svg" class="mt-1 me-2" alt="2" aria-hidden="true" />
              <div>
                <p class="mt-1 mb-0 text-gray-plus-1">Complete the identity verification process.</p>
              </div>
            </li>
            <li class="col-12 col-md-4 d-flex align-items-start mb-3 mb-md-0">
              <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/recruitment/square-3.svg" class="mt-1 me-2" alt="3" aria-hidden="true" />
              <p class="mt-1 mb-0 text-gray-plus-1">Become a verified Ipsos iSay member and start earning rewards!</p>
            </li>
          </ol>

          <div class="row">
            <div class="col">
              <p class="mt-1 mb-0 text-center text-gray-plus-1">You will be asked to provide your phone number and email, take a selfie, and scan a photo of your driver’s license, ID card or passport. Your name, date of birth, gender, and zip code, will be automatically added to your Ipsos iSay account. You can update your gender and zip code during sign up.</p>
            </div>
          </div>

        </div>

        <div class="row text-center mt-5 mb-4">
          <div class="col">
            <a href="exit" type="submit" class="btn btn-primary btn-lg px-5">Verify your ID</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <FooterClear />
</Layout>

<!-- Modal: Why verify your identity? -->
<div class="modal fade" id="modalWhyVerify" tabindex="-1" aria-labelledby="modalWhyVerifyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header border-0 mt-3">
        <h5 class="modal-title h4">Why verify your identity?</h5>
        <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p class="fs-7">Your unique perspective contributes to a fuller understanding of global opinions. Ipsos iSay’s insights empower global leaders and top brands to grasp emerging trends and shape the future. Our political polling gives a voice to the people and is frequently cited by top news organizations around the world.</p>

        <p class="fs-7">Here’s why verifying your identity is essential:</p>

        <div class="d-flex align-items-start mt-4 pt-2 mb-3 align-items-center">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-circle-dollar.svg" class="icon-modal me-3 d-none d-md-block" aria-hidden="true" alt="" />
          <div>
            <h3 class="fs-6 fw-bold text-success">Get rewarded</h3>
            <p class="mb-0 fs-7">When your account is verified, we can be sure you’re the one receiving the gift cards and other rewards that you’ve earned.</p>
          </div>
        </div>

        <div class="d-flex align-items-start pt-2 my-3 align-items-center">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-shield.svg" class="icon-modal me-3 d-none d-md-block" aria-hidden="true" alt="" />
          <div>
            <h3 class="fs-6 fw-bold text-success">Surveys just for you</h3>
            <p class="mb-0 fs-7">Knowing your authentic identity helps us match you with surveys that are more likely to interest you. That means better, more impactful opportunities to share your opinions and earn rewards.</p>
          </div>
        </div>

        <div class="d-flex align-items-start pt-2 my-3 align-items-center">
          <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-bullseye.svg" class="icon-modal me-3 d-none d-md-block" aria-hidden="true" alt="" />
          <div>
            <h3 class="fs-6 fw-bold text-success">Building a trusted community</h3>
            <p class="mb-0 fs-7">As we build the future together, verification helps us create the safest and most secure environment for all our members.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="panel panel-bg-primary-minus-2 pt-1 pb-2 mt-3 mb-3 mx-3 border-0 rounded">
            <p class="fs-7 mt-3 mb-2 text-primary">
              <i class="fa fa-exclamation-circle"></i> We understand that sharing your ID is a sensitive matter. CLEAR uses advanced security measures to protect your personal information. Your data is encrypted and stored securely, ensuring your privacy is always our top priority.
            </p>
          </div>
        </div>
      </div>
      
      <div class="modal-footer border-0 justify-content-start">
        <a type="button" class="btn btn-gray btn-block mb-1" data-bs-dismiss="modal">Got it</a>
      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->

<style>
  .panel.panel-bg-success-minus-2 {
    background: var(--bg-success-minus-2);
  }
  .panel.panel-bg-primary-minus-2 {
    background: var(--bg-primary-minus-2);
  }

  .panel.panel-gray-minus-2 {
    background: var(--bg-gray-minus-2);
  }

  
  /* Video Player Styles */

  .video-player {
    width: 416px;
    height: 234px;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .video-player {
      width: 464px;
      height: 260px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .video-player {
      width: 652px;
      height: 368px;
    }
  }

  @media (min-width: 992px) {
    .video-player {
      width: 494px;
      height: 278px;
    }
  }

  @media (min-width: 1400px) {
    .video-player {
      width: 464px;
      height: 260px;
    }
  }
</style>
