---
import Layout from "../../../layouts/Layout.astro";

import HeaderLogoOnly from "../../../components/HeaderLogoOnly.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";
---

<Layout title="Daily Prize Wheel">
  <div class="container-fluid container-full-height px-0">
    <HeaderLogoOnly />
    <!-- Main Content -->
    <div class="container content">
      <div class="row text-center">
        <div class="col-12">

          <!-- Error: Already played -->
          <div class="row">
            <div class="col">
              <h1 class="h2 mt-2">You’ve already spun the <br><span class="text-secondary">🎡 Daily Prize Wheel</span> today</h1> 
              <p class="mt-3">You can play again tomorrow.</p>
            </div>
          </div><!-- row -->
          <div class="row mt-3">
            <div class="col">
              <a class="btn btn-primary px-4 me-3" href="/p1/spinningwheel/wheel">Go to main page</a>
            </div>              
          </div><!-- row -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <FooterSurvey />
  </div><!-- /.container-fluid -->

  <!-- JUST FOR THE PROTOTYPE: Not used in production -->
  <!-- Modal -->
  <div class="modal fade" id="variantsModal" tabindex="-1" aria-labelledby="variantsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="variantsModalLabel">More variants</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a class="dropdown-item" href="/p1/spinningwheel/intro">Welcome Screen</a></li>
                    <li><a class="dropdown-item" href="/p1/spinningwheel/error_already-played">Already Played</a></li>
                    <li><a class="dropdown-item" href="/p1/spinningwheel/error_wrong-link">Wrong Link</a></li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

</Layout>

<button type="button" class="btn btn-sm btn-primary btn-variants" data-bs-toggle="modal" data-bs-target="#variantsModal">
  + Variants
</button>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }  
</style>