---
import Layout from "../../../layouts/Layout.astro";

import HeaderLogoOnly from "../../../components/HeaderLogoOnly.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";

// CSS to be optimized
import '../../../assets/styles/p1/bootstrap-slider.css';
---

<Layout title="Daily Prize Wheel">
  <div class="container-fluid container-full-height px-0">
    <HeaderLogoOnly />
    <!-- Main Content -->
    <div class="container content">
      <div class="row text-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <h1 class="h2 mt-2">Daily Prize Wheel</h1>
              <p>Press the center of the wheel to spin. Good luck!</p>
              <!-- Spinin Wheel -->
              <div class="row wheel-container mt-4 pt-4">
                <div class="col">
                  <a href="/p1/spinningwheel/result/incentive_points"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/spinning-wheel/wheel.webp" class="wheel img-fluid"></a>
                </div>
              </div><!-- /.row -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <FooterSurvey />
  </div>
</Layout>

<style>

  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }

  .wheel-container {
    width: 327px;
    height: 295px;
    background-image: url('https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/spinning-wheel/bg-wheel-m.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
  }

  @media (min-width: 768px) {
  .wheel-container {
    width: 798px;
    height: 386px;
    background-image: url('https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/spinning-wheel/bg-wheel.webp');
  }
}

  .wheel {
    max-width: 325px;
    max-height: 325px;
  }

</style>