---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";
---

<Layout title="Survey Experience">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 mx-auto">
          <div class="panel panel-default with-bigger-inputs py-4">
            <div class="row">
              <div class="col">
                <h1 class="h2">Ipsos (an independent market research company) is conducting a survey on healthcare products, which includes questions to your health.</h1>
                <p>This survey will aid market research, and help influence certain over the counter healthcare products.</p>
                <p>Participation is completely voluntary and you may withdraw your consent at any time. Your survey answers will be combined with the answers from all other participants and used for market research reporting, and your sensitive data will be held for no longer than 3 months.</p>
                <ul class="list-unstyled list-inline dotted pt-1 mb-2">
                  <li class="d-inline-block me-3">
                    Rewards:<br />
                    <strong>Up to <i class="fa-solid fa-star text-warning"></i>5 points</strong>
                  </li>
                  <li class="d-inline-block">
                    Duration:<br />
                    <i class="fa-regular fa-clock"></i><strong> 75 points</strong>
                  </li>
                </ul>
              </div>
            </div><!-- row -->
            <div class="row mt-3">
              <div class="col"></div>
            </div>
            <div class="d-grid gap-2 text-center mt-0 mb-1">
              <a class="btn btn-lg btn-primary btn-block mt-2 mb-1" data-callback="onSubmit" href="/p1/survey/page1">Next</a>
            </div>
          </div><!-- panel -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <FooterSurvey />
  </div><!-- /.container-fluid -->
</Layout>
<script src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/scripts/lottie-player.js"></script>
<script>
  // Wait for the DOM to be fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Get references to the loaded button and the loading button
    var loadedBtn = document.getElementById("loadedBtn");
    var loadingBtn = document.getElementById("loadingBtn");

    // Add an event listener to the loaded button
    loadedBtn!.addEventListener("click", function () {
      // Hide the loaded button and show the loading button
      loadedBtn!.style.display = "none";
      loadingBtn!.style.display = "block";

      // Redirect after 2 seconds
      setTimeout(function () {
        window.location.href = "/p1/survey/page1";
      }, 2000);
    });
  });
</script>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-grow: 1;
  }
</style>
