---
import Layout from '../../../layouts/Layout.astro';

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';

// CSS to be optimized
//import '../../../../assets/styles/projects/censydiam/censydiam.css';

// Images
import { Image } from 'astro:assets';
import imgVoucher from '../../../assets/images/p1/survey/gift_voucher_bkg.svg';
---

<Layout title="Survey Experience">
  <Header/>
<!-- Main Content -->
<div class="container">

  <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 mx-auto">

        <div class="panel panel-default with-bigger-inputs py-4">
            <div class="row">
                <div class="col">
                    <h1 class="h2"><span class="h6">Good news!</span><br>
                    You may qualify for this survey!</h1>
                    <p>This survey is conducted by our trusted partner. You may be required to answer some questions we've already asked you.</p>
                    <p class="fs-7"><i class="fa-regular fa-clock text-secondary"></i> There's still a chance you may not qualify for this survey. But don't worry, you'll still be rewarded for your time.</p>
                    <ul class="list-unstyled list-inline dotted pt-1 mb-2">
                        <li class="d-inline-block me-3">Rewards:<br>
                            <strong>Up to <i class="fa-solid fa-star text-warning"></i>5 points</strong>
                        </li>
                        <li class="d-inline-block">Duration:<br>
                            <i class="fa-regular fa-clock"></i><strong> 75 points</strong>
                        </li>
                    </ul>
                  </div>
            </div><!-- row -->
            <div class="row mt-3">
                <div class="col">
                    
                </div>
            </div>
            <div class="d-grid gap-2 text-center mt-0 mb-1">
                <a class="btn btn-lg btn-primary btn-block mt-2 mb-1" data-callback="onSubmit" href="/p1/survey/page1">Get started</a>
            </div>
        </div><!-- panel -->

          

      </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

<Footer/>
</Layout>
<script src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/scripts/lottie-player.js"></script>
<script>
// Wait for the DOM to be fully loaded
document.addEventListener('DOMContentLoaded', function() {
    // Get references to the loaded button and the loading button
    var loadedBtn = document.getElementById('loadedBtn');
    var loadingBtn = document.getElementById('loadingBtn');
    
    // Add an event listener to the loaded button
    loadedBtn!.addEventListener('click', function() {
        // Hide the loaded button and show the loading button
        loadedBtn!.style.display = 'none';
        loadingBtn!.style.display = 'block';
        
        // Redirect after 2 seconds
        setTimeout(function() {
            window.location.href = "/p1/survey/page1";
        }, 2000);
    });
});
</script>

<style>

.panel.panel-default.padding-md img {
		width: 175px; height: 175px;
}
		
.box-scroll {
  height: 250px;
  overflow-y: auto;
  border: 1px solid var(--cborder);
  border-radius: 6px;
  margin-right: 5px;
  padding: 10px;
}

</style>