---
import Layout from "../../../layouts/Layout.astro";

import HeaderVisitor from "../../../components/HeaderVisitor.astro";
import RecruitmentFormOrganic from "../../../components/nmux/RecruitmentFormOrganic.astro";
import Footer from "../../../components/Footer.astro";

import RewardsCarousel from "../../../components/nmux/RewardsCarousel.astro";
import PromoCarousel from "../../../components/nmux/PromoCarousel.astro";
import MediaLogosCarousel from "../../../components/nmux/MediaLogosCarousel.astro";

// Images
import { Image } from "astro:assets";
import reward01 from "../../../assets/images/p1/rewards/reward-01.webp";
import reward02 from "../../../assets/images/p1/rewards/reward-02.webp";
import reward03 from "../../../assets/images/p1/rewards/reward-03.webp";
import reward04 from "../../../assets/images/p1/rewards/reward-04.webp";
import reward05 from "../../../assets/images/p1/rewards/reward-05.webp";
import reward06 from "../../../assets/images/p1/rewards/reward-06.webp";
import reward07 from "../../../assets/images/p1/rewards/reward-07.webp";
import reward08 from "../../../assets/images/p1/rewards/reward-08.webp";
import reward09 from "../../../assets/images/p1/rewards/reward-09.webp";
import reward10 from "../../../assets/images/p1/rewards/reward-10.webp";

---

<Layout title="Rewards Catalogue | Ipsos iSay">
  <HeaderVisitor />
  <!-- Main Content -->
  <div class="panel banner-top-reg py-5 mb-0">
    <div class="container py-5">
    
      <h1 class="h3 mb-3 fw-light">Rewards</h2>
      
      <div class="p-3 bg-light d-flex align-items-center justify-content-between">
        <p class="mb-0">
            You have <span class="fw-bold text-main"><i class="fa fa-star text-warning"></i> 50 points</span>
        </p>
        <div class="d-flex gap-2 d-none d-md-flex">
            <select class="form-select">
                <option selected>All Categories</option>
                <option>Featured Rewards</option>
                <option>Digital Rewards</option>
                <option>Money Transfers</option>
                <option>Charity Donations</option>
            </select>
            <select class="form-select">
                <option selected>Any Range of Points</option>
                <option>Less than 500</option>
                <option>500 - 999</option>
                <option>1000 - 1999</option>
                <option>2000 - 2499</option>
                <option>2500 or more</option>
                <option>In my Reach</option>
            </select>
        </div>
    </div>
    
      
      <h4 class="mt-4">Easy Wins</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <Image src={reward01} class="img-reward rounded img-fluid mb-3" alt="Ipsos Foundation" aria-hidden="true" />
                  <p class="text-main">200 Ipsos Foundation Points</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-bold text-main mb-0"><i class="fa fa-star text-warning"></i> 200</p>
                    <small class="badge badge-transparent"><i class="fa fa-star"></i> 480 needed</small>
                  </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                  <Image src={reward02} class="img-reward rounded img-fluid mb-3" alt="Ipsos Foundation" aria-hidden="true" />
                  <p class="text-main">210 Ipsos iSay Market Points</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-bold text-main mb-0"><i class="fa fa-star text-warning"></i> 210</p>
                    <span class="badge badge-success">Redeem now!</span>
                  </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                  <Image src={reward03} class="img-reward rounded img-fluid mb-3" alt="Ipsos Foundation" aria-hidden="true" />
                  <p class="text-main">$5 Burger King®</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-bold text-main mb-0"><i class="fa fa-star text-warning"></i> 500</p>
                    <span class="badge badge-success">Redeem now!</span>
                  </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                  <Image src={reward04} class="img-reward rounded img-fluid mb-3" alt="Ipsos Foundation" aria-hidden="true" />
                  <p class="text-main">$5 Amazon.com Gift Card</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-bold text-main mb-0"><i class="fa fa-star text-warning"></i> 500</p>
                    <span class="badge badge-success">Redeem now!</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
      
      <h4 class="mt-4">Featured Rewards</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <!-- Repite el mismo patrón de tarjetas -->
      </div>
      
      <h4 class="mt-4">Digital Rewards</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <!-- Repite el mismo patrón de tarjetas -->
      </div>
  </div>

  </div><!-- /.panel -->

    <Footer />

  <!-- TrustBox script -->
  <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
  <!-- End TrustBox script -->
</Layout>
