<div class="panel panel-default mt-3 p-4">
    <!-- START: Form -->
    <form id="registrationForm" role="form">

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" autocapitalize="off" class="form-control" id="email" placeholder="Your email address.." name="email" autocomplete="home email">
            <p class="validation-warn font-size-xs text-danger mt-2 d-none">The email is either empty or invalid.</p>
        </div><!-- /.form-group -->

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput" data-indicator="pwindicator" onkeypress="capLock(event)" placeholder="Choose password" data-trigger="focus" data-placement="top">
            <div class="row mt-2">
                <div class="col">
                    <div id="divMayus" class="caps-on font-size-xs" style="display:none"><i class="fa fa-exclamation-circle"></i> Caps Lock is on</div>
                    <div id="passRequirements" class="inputhelper" style="display:none">
                        <p class="font-size-xs text-secondary">Passwords are case sensitive and need to be at least 7 characters long.</p>
                    </div>
                </div>
            </div><!-- row -->
            <p class="validation-warn font-size-xs text-danger mt-2 d-none">The password you entered is not valid, please try again.</p>
        </div><!-- /.form-group -->

        <!-- Terms & Conditions -->
        <div class="row form-group">
            <div class="col">

                <div class="checkbox">
                    <label class="icheck-label">
                        <span><input class="icheck" type="checkbox"></span><span> I accept the <a target="_blank" href="https://www.ipsosisay.com/en-us/terms-and-conditions">terms and
                                conditions</a>, including the use of cookies and the use of my personal
                            information, as further described in the <a target="_blank" href="https://www.ipsosisay.com/en-us/privacy-policy">privacy
                                policy</a>.</span>
                    </label>
                </div><!-- checkbox -->

            </div><!-- col -->
        </div><!-- /.form-group -->

        <div class="row form-group mt-4">
            <div class="col-12">
                <a href="javascript:void();" class="btn btn-primary d-block py-2 fs-5">Sign up</a>
            </div>
        </div>

    </form>

</div><!-- panel -->