<!-- START: Panel Grey -->
<div class="panel panel-grey">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-12 text-center">
                <p>Check out what others say</p>                     
                <!-- TrustBox widget - Micro Combo -->
                <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="618c353f8da731d4b18a79ae" data-style-height="20px" data-style-width="100%" data-theme="light">
                    <a href="https://www.trustpilot.com/review/www.ipsosisay.com" target="_blank" rel="noopener">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->
            </div><!-- col -->
        </div><!-- row -->
        <div class="row mt-4">
            <div class="col-12 col-md-4 text-center"> 
                <div class="panel mt-3 panel-default pt-4 pb-3 px-4">
                    <img class="img-fluid" src="images/thumbs-up.svg" aria-hidden="true">
                    <h3 class="mt-4">Sign Up</h3>
                    <p>Complete the registration form and create your account.</p>
                </div>
            </div><!-- col -->
            <div class="col-12 col-md-4 text-center">
                <div class="panel mt-3 panel-default pt-4 pb-3 px-4">
                    <img class="img-fluid" src="images/bullhorn.svg" aria-hidden="true">
                    <h3 class="mt-4">Influence the future</h3>
                    <p>Share your opinion and influence brands, governments and societies.</p>
                </div>                
            </div><!-- col -->
            <div class="col-12 col-md-4 text-center">
                <div class="panel mt-3 panel-default pt-4 pb-3 px-4">
                    <img class="img-fluid" src="images/gift.svg" aria-hidden="true">
                    <h3 class="mt-4">Choose your rewards</h3>
                    <p>Choose from a variety of gift cards, vouchers, donations and more!</p>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- END: Panel Grey -->