---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container">
		<h1 class="display-4 mt-md-5 mb-3">Welcome to <span class="text-primary">Astral</span></h1>
		<p class="lead fw-bold text-center mb-4">
			Visual styles, markup & CSS guide for the Astral project.
		</p>
		<ul role="list" class="list-unstyled">
			<li>
				<div class="card py-2 px-2">
					<div class="row g-0">
						<div class="col-2 text-center">
							<img src="images/prototype/panelone.svg" class="img-fluid" alt="PanelOne" />
						</div><!-- /.col-2 -->
						<div class="col-10">
							<div class="card-body">
								<h2 class="card-title h3">PanelOne & Survey Experience</h2>
								<ul class="list-unstyled fs-6">
									<li><a href="recruitment/step_01_current" class="text-decoration-none">Recruitment landing page</a></li>
									<li><a href="pollpredictor/intro&brand=panelone" class="text-decoration-none">Poll Predictor</a></li>
									<li><a href="fish/gdpr_compliance&brand=panelone&progressive_points=persistent" class="text-decoration-none">Survey Experience</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

			<li>
				<div class="card py-2 px-2 mt-4">
					<div class="row g-0">
						<div class="col-2 text-center">
							<img src="images/prototype/panelone.svg" class="img-fluid" alt="PanelOne" />
						</div><!-- /.col-2 -->
						<div class="col-10">
							<div class="card-body">
								<h2 class="card-title h3">Projects</h2>
								<ul class="list-unstyled fs-6">
									<li><a href="projects/censydiam/" class="text-decoration-none">Censydiam</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

		</ul>
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Riot&display=swap');

html, body {
    background: #fcfcf9;
    font-family: 'Inter', Arial, sans-serif;
    color: #3A405F;
}

a.btn {
    border-radius: 4px;
    font-weight: 700;
    border: none;
}

a.btn-primary {
    background: #5C6AC1;
    color: #FFF !important;
}

a.btn-primary:hover {
    background: #4e5aa4;
    color: #FFF !important;
}

a.btn-secondary {
    background: #84329B;
    color: #FFF !important;
}

a.btn-secondary:hover {
    background: #641978;
    color: #FFF !important;
}

a {
    font-weight: 700;
    color: #5C6AC1 !important;
    text-decoration: none !important;
}

a:hover {
    color: #4e5aa4 !important;
}

.h1, h1, .h2, h2, .h3, h3, .h4, .h5, .h6, h4, h5, h6, strong { 
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 700 !important;
    color: #3A405F !important;
}

h2 {
    font-size: 32px !important;
}

.lead {
    font-weight: 400 !important;
}

.fs-7 {
    font-size: 12px;
    color: #666;
}

.text-secondary {
    color: #1D7F76 !important;
}

.panel {
    padding: 60px 0 60px 0;
}

.panel.panel-primary {
    background: #FFF;
    border: 1px solid #DEE2E6 !important;
    border-left: none;
    border-right: none;
}

@media (min-width: 992px) {
    .panel.panel-primary {
        background: #FFF;
        border: none !important;
        border-radius: 0.5rem !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}

</style>
