---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

// Images
import { Image } from 'astro:assets';
import iconPanelone from '../assets/images/prototype/panelone.svg';
import iconProjects from '../assets/images/prototype/projects.svg';
import iconPages from '../assets/images/prototype/pages.svg';
---

<Layout title="Welcome to Astro">
	<main class="container">
		<h1 class="display-4 text-center mt-md-5 mb-2">Welcome to <span class="text-primary">Astra</span></h1>
		<p class="lead fw-bold text-center pb-2 mb-4">
			Visual styles, markup & CSS guide for the Astra project.
		</p>
		<ul role="list" class="list-unstyled col-lg-10 offset-lg-1">
			<li>
				<div class="card py-2 px-2">
					<div class="row g-0">
						<div class="col-2 text-center">
							<Image src={iconPanelone} class="img-fluid" alt="PanelOne" />
						</div><!-- /.col-2 -->
						<div class="col-10">
							<div class="card-body">
								<h2 class="card-title h3 mb-2">PanelOne & Survey Experience</h2>
								<ul class="col fs-6">
									<li><a href="p1/recruitment/default" class="text-decoration-none">Recruitment landing page</a></li>
									<li><a href="p1/pollpredictor/intro" class="text-decoration-none">Poll Predictor</a></li>
									<li><a href="p1/profiling/preloader" class="text-decoration-none">Profiling Survey</a></li>
									<li><a href="p1/survey/consent" class="text-decoration-none">Survey Experience</a></li>
									<li><a href="p1/red-carpet" class="text-decoration-none">Red Carpet</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

			<li>
				<div class="card py-2 px-2 mt-4">
					<div class="row g-0">
						<div class="col-2 text-center">
							<Image src={iconProjects} class="img-fluid" alt="PanelOne" />
						</div><!-- /.col-2 -->
						<div class="col-10">
							<div class="card-body">
								<h2 class="card-title h3 mb-2">Projects</h2>
								<ul class="fs-6">
									<li><a href="projects/censydiam/" class="text-decoration-none">Censydiam ⚡</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

			<li>
				<div class="card py-2 px-2 mt-4">
					<div class="row g-0">
						<div class="col-2 text-center">
							<Image src={iconPages} class="img-fluid" alt="PanelOne" />
						</div><!-- /.col-2 -->
						<div class="col-10">
							<div class="card-body">
								<h2 class="card-title h3 mb-2">Standalone pages</h2>
								<ul class="fs-6">
									<li><a href="standalone/about-us" class="text-decoration-none">About us</a></li>
									<li><a href="standalone/partner-us" class="text-decoration-none">Partner us</a></li>
									<li><a href="standalone/seo-page" class="text-decoration-none">SEO page</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

		</ul>
	</main>
<Footer/>
</Layout>
<style>
	.card-body ul li {
		margin: 0.3em 0;
	}
</style>