---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Welcome to Astra">
	<main class="container">
		<h1 class="display-4 text-center mt-md-5 mb-2">Welcome to <span class="text-primary">Astra</span></h1>
		<p class="lead fw-bold text-center pb-2 mb-4">
			Visual styles, markup & CSS guide for the Astra project.
		</p>
		<ul role="list" class="list-unstyled col-lg-10 offset-lg-1">
			<li>
				<div class="card py-2 px-2">
					<div class="row g-0">
						<div class="col">
							<div class="card-body">
								<h2 class="h4 card-title fw-light mb-2">PanelOne & Survey Experience</h2>
								<hr class="dotted-line mt-3 mb-4">
								
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<ul class="fs-6">
											<li>Recruitment landing pages
												<ul>
													<li><a href="p1/recruitment/clear/signup" class="text-decoration-none">CLEAR</a></li>
													<li><a href="p1/recruitment/default" class="text-decoration-none">Default</a></li>
													<li><a href="p1/recruitment/neutral" class="text-decoration-none">Neutral</a></li>
													<li><a href="p1/recruitment/organic" class="text-decoration-none">Organic</a></li>
												</ul>
											</li>
										</ul>
									</div>

									<div class="col-sm-6 col-lg-4">
										<ul class="fs-6">
										
											<li><a href="p1/pollpredictor/intro" class="text-decoration-none">Poll Predictor</a></li>
											<li><a href="p1/profiling/preloader" class="text-decoration-none">Profiling Survey</a></li>
											<li><a href="p1/survey/consent" class="text-decoration-none">Survey Experience</a></li>
											<li><a href="p1/red-carpet" class="text-decoration-none">Red Carpet</a></li>
										</ul>
									</div>
	

								</div>
								
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

			<li>
				<div class="card py-2 px-2 mt-4">
					<div class="row g-0">
						<div class="col">
							<div class="card-body">
								<h2 class="card-title h4 fw-light mb-2">Projects</h2>
								<hr class="dotted-line mt-3 mb-4">
								<ul class="fs-6">
									<li><a href="projects/censydiam/" class="text-decoration-none">Brand Styles</a></li>
									<li><a href="projects/censydiam/" class="text-decoration-none">Censydiam ⚡</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

			<li>
				<div class="card py-2 px-2 mt-4">
					<div class="row g-0">
						<div class="col">
							<div class="card-body">
								<h2 class="card-title h4 fw-light mb-2">Standalone pages</h2>
								<hr class="dotted-line mt-3 mb-4">
								<ul class="fs-6">
									<li><a href="p1/website/homepage" class="text-decoration-none">Homepage</a></li>
									<li><a href="standalone/about-us" class="text-decoration-none">About us</a></li>
									<li><a href="standalone/partner-us" class="text-decoration-none">Partner us</a></li>
									<li><a href="standalone/seo-page" class="text-decoration-none">SEO page</a></li>
								</ul>
							</div><!-- /.card-body -->
						</div><!-- /.col-10 -->
					</div><!-- /.row -->
				</div><!-- /.card -->
			</li>

		</ul>
	</main>
<Footer/>
</Layout>
<style>
	.card-body ul li {
		margin: 0.3em 0;
	}
</style>