<footer class="my-4 text-dark pt-4 pb-0" aria-label="Footer">
  <div class="container">
    <div class="d-flex flex-column gap-4 gap-md-5 flex-lg-row">
      <div class="copyright block order-lg-0 order-4 text-center text-lg-start">
        <div class="ipsos_logo"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/logos/ipsos_logo.svg" alt="Ipsos" /></div>
        <p class="mt-2 fs-7">© {new Date().getFullYear()} Ipsos</p>
      </div>

      <nav class="footer-menu block block-menu navigation">
        <ul data-block="footer" class="nav navbar-nav fs-7 text-center text-lg-start">
          <li class="nav-item">
            <a href="/en-us/privacy-policy" class="nav-link">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="/en-us/terms-and-conditions" class="nav-link">Help</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

<style>
  footer .nav.navbar-nav {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
  }

  footer .nav-item {
    display: inline-block;
    margin: 0 5px; /* Espacio entre los enlaces */
  }

  footer .nav.navbar-nav {
    display: block;
    text-align: left;
  }
</style>
