---
import { Image } from 'astro:assets';
import headerLogo from '../../assets/images/logo.svg';
---
<header>
    <!-- Main Nav -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light mb-5" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="?"><Image src={headerLogo} class="img-fluid" alt="Ipsos iSay" /></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav fw-bold">
                    <li class="nav-item">
                        <a class="nav-link language-selection" href="">
                            <i class="fa-solid fa-circle-user text-secondary"></i> John
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</header>