<!-- Header.svelte -->
<script>
// No se necesita lógica específica en este ejemplo
</script>

<footer class="container mt-2 mb-4 text-dark pt-3 container-xxl pb-0">
    <div class="d-flex flex-column flex-lg-row justify-content-between gap-3">
        <div class="copyright block order-lg-0 order-4 text-center text-lg-start">
            <div class="ipsos_logo"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/logos/ipsos_logo.svg" alt="Ipsos" /></div>
            <p class="mt-2 fs-7">©2024</p>
        </div>
    </div>
</footer>

<style>
footer .nav-item a {
    font-size: 12px !important;
}

footer ul.social-icons li:first-child {
    list-style: none;
    margin-left: 0;
}

footer ul.social-icons li {
    list-style: none;
    margin: 8px 4px;
}

footer .social-icons a {
    padding: 0;
} 

footer .app-badge.googleplay {
    max-width: 143px;
}

footer .app-badge.ios {
    max-width: 125px;
}

footer ul.nav.navbar-nav {
  display: block;
  column-count: 2 !important;
  column-gap: 2em;
}

@media (min-width: 768px) {
    footer ul.nav.navbar-nav {
        column-count: 3 !important;
    }
}

#block-footeripsos h2 {
    display: none;
}
</style>