<header>
    <nav>
        <div class="login">
            <p>Login</p>
        </div>
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
</header>

<script>
    const hamburger = document.querySelector(".hamburger");
    if (hamburger) {
        hamburger.addEventListener("click", () => {
            //add the menu expanded logic here.
        });
    }
</script>

<style>
    .login {
        position: absolute;
        top: 24px;
        right: 88px;
        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        color: #59545c;
    }
    /* Position the hamburger menu at the top-right */
    .hamburger {
        position: absolute;
        top: 24px; /* Adjust the distance from the top */
        right: 24px; /* Adjust the distance from the right */
        cursor: pointer;
    }

    .hamburger .line {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        background-color: #02103f;
        border-radius: 50px; /* This creates the rounded ends */
    }

    .nav-links {
        width: 100%;
        top: 5rem;
        left: 48px;
        background-color: #02103f;
        display: none;
        margin: 0;
    }

    .nav-links a {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav-links a:hover,
    a:focus {
        background-color: #02103f;
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;
        }

        .nav-links a {
            display: inline-block;
            padding: 15px 20px;
        }

        .hamburger,
        .login {
            display: none;
        }
    }
</style>
