<!-- Header.svelte -->
<script>
// No se necesita lógica específica en este ejemplo
</script>

<div class="navbar navbar-expand-md">
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="navbar-brand">
        <img src="images/logo.svg" alt="Ipsos iSay" />
        </div>
    </div>
    </div>
</div>
</div>  