---

import { Image } from 'astro:assets';
import headerLogo from '../assets/images/logo.svg';
import headerFlag from '../assets/images/icons/flags/US.svg';

---
<header>
    <!-- Main Nav -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="?"><Image src={headerLogo} class="img-fluid" alt="Ipsos iSay" /></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav fw-bold">
                    <li class="nav-item">
                        <a class="nav-link me-3" href="javascript:void(0);">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link language-selection d-flex" href="javascript:void(0);">
                            <Image src={headerFlag} class="img-fluid me-2" alt="Ipsos iSay" /> 
                            United States (English)
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</header>