---

import { Image } from 'astro:assets';
import headerLogo from '../assets/images/logo.svg';

---
<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="navbar-brand">
                        <Image src={headerLogo} class="img-fluid" alt="Ipsos iSay" />
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>