<header>
    <!-- Main Nav -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="?"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/logos/ipsos_isay_logo.svg" class="img-fluid" alt="Ipsos iSay" /></a>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</header>

<style>
    /* css for mobile mode */
    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 90px;
        }
        #navbar{
            padding-left: 10px;
        }
    }
</style>