---
import Layout from '../../layouts/Layout.astro';

import Header from '../../components/Header.astro';
import FooterLinks from '../../components/FooterLinks.astro';

import FaqAccordion from "../../components/nmux/FaqAccordion.astro";
---

<Layout title="About us">
<Header/>
<!-- START: Intro -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="my-5 py-0 py-lg-2">
                            <h1 class="mb-3">About Ipsos iSay</h1>
                            <p class="lead">Ipsos iSay is an online rewards community with millions of members celebrating the <strong>power of voice</strong>.</p>
                            <p class="lead">We are committed to <strong>empowering a community that creates change</strong>, has its voice heard, and makes a meaningful impact – one study at a time.</p>
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/img_main.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="my-5">
    </div><!-- container -->
</div><!-- END: Intro -->

<!-- START: Powered by Ipsos -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="my-5 py-0 py-lg-2">
                            <h1 class="mb-3">Driven by experts, powered by Ipsos</h1>
                            <p>Ipsos iSay ensures your valued opinion makes a difference for local and global markets, governments, and brands <strong></strong>by engaging you in surveys that contribute to impactful decisions worldwide</strong>.</p>
                            <p>We are committed to <strong>empowering a community that creates change</strong>, has its voice heard, and makes a meaningful impact – one study at a time.</p>
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/img_world.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="my-5">
    </div><!-- container -->
</div><!-- END: Powered by Ipsos -->


<!-- START: Our Mission -->
<div class="panel py-3 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/img_mission.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="my-5 mx-3 py-0 py-lg-2">
                            <h2 class="mb-3">Our Mission: empowering you to create change, be heard, and make an impact</h2>
                            <p>At Ipsos iSay, we value your voice and the unique insights you bring. Take surveys, share your opinions, and drive change on a global scale. <strong>Your participation is recognized and rewarded</strong>, highlighting your important role in decision-making and enhancing global awareness.</p>
                            <p>Join us in this enriching experience <strong>to create a smarter, more connected world, where your opinions do more than inform, they inspire new trends and shape narratives</strong>. Together, let's use the power of our voices to influence change!</p>
                        </div>				
                    </div>

                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="dotted-line my-5">
    </div><!-- container -->
</div><!-- END: Our Mission -->




<!-- START: Why Join Ipsos iSay? + Stats -->
<div class="panel pt-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="mb-3">Why Join Ipsos iSay?</h2>
                <!-- TrustBox widget - Carousel -->
                <div
                class="trustpilot-widget"
                data-locale="en-US"
                data-template-id="53aa8912dec7e10d38f59f36"
                data-businessunit-id="618c353f8da731d4b18a79ae"
                data-style-height="140px"
                data-style-width="100%"
                data-stars="4,5"
                data-review-languages="en"
                >
                <a href="https://www.trustpilot.com/review/www.ipsosisay.com" target="_blank" rel="noopener">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->
            </div>
        </div>
        <div class="row text-center mt-4 mb-5">
            <div class="col-sm-4 col-lg-3 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-survey.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Take surveys</h3>
                <p>You don't just watch change, you create it.</p>
              </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-test.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Test and experience</h3>
                <p>Be the first to try new products, take part in live studies, and more!</p>
              </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-impact.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Make an impact</h3>
                <p>Your voice can influence decision makers and turn ideas into reality.</p>
              </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-gift.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Earn rewards</h3>
                <p>Get rewarded for sharing your valuable insights.</p>
              </div>
            </div>
          </div><!-- /.row -->


        <div class="row text-center">
            <div class="col">
                <h2 class="mb-3">Our Impact in Numbers</h2>
                <p class="lead">We’re proud of what we’ve achieved together.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8 mx-auto">
                <div class="row text-center mt-4 mb-5">
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-users.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">3M+ Users</h3>
                        <p>Worldwide</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-world.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">70+ Countries</h3>
                        <p>Available globally</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-survey.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">25M+ Studies</h3>
                        <p>Completed</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-gift-green.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">10M+ Rewards</h3>
                        <p>Earned and redeemed</p>
                    </div>
                  </div><!-- /.row -->
            </div><!-- /.col-8 mx-auto -->
        </div><!-- /.row mt-2 -->
        
        <hr class="dotted-line my-5">

    </div><!-- container -->
</div><!-- END: Why Join Ipsos iSay? + Stats -->


<!-- START: Our Commitment to You -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="mt-2 mb-5 py-0 py-lg-2">
                            <h2 class="mb-3">Our Commitment to You</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <h3 class="h4 d-flex align-items-center"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-fingerprint.svg" class="img-fluid me-2" alt=""> Privacy and Security</h3>
                                    <p>We adhere to strict privacy standards, ensuring that your data is protected and used responsibly. You have full control and can opt out or delete your information anytime.</p>
                                </li>
                                <li>
                                    <h3 class="h4 mt-4 pt-3 d-flex align-items-center"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-giftcard.svg" class="img-fluid me-2" alt=""> Rewarding Participation</h3>
                                    <p>We value your time and effort. Ipsos iSay offers rewards like gift cards and cash for your input. Explore our catalog to find new earning opportunities.</p>
                                </li>
                            </ul>
                            
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/woman-tablet.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- END: Intro -->


<!-- START: Choose the perfect reward -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="my-5 py-0 py-lg-2">
                            <h1 class="mb-3">Choose the perfect reward</h1>
                            <p><strong>Participate in Ipsos iSay surveys to earn points and redeem them for a variety of exciting rewards!</strong></p>
                            <p>Choose from popular gift cards or convenient prepaid cards. You’re sure to find an Ipsos iSay reward that’s just right for you.</p>
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/main-image.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="dotted-line my-5">
    </div><!-- container -->
</div><!-- END: Choose the perfect reward -->


<!-- PANEL: PRIVACY -->
<div class="container">
<div class="panel panel-bg-primary-success-2 rounded pt-5 pb-4 border-0">
<div class="row">
<div class="col col-lg-8 mx-auto">
<img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-fingerprint.svg" class="img-fluid mb-3" alt="" aria-hidden="true" />
<h2 class="h4 mb-1">Your privacy is our priority</h2>
<p>We follow the strictest of privacy and data protection policies so that your data remains confidential and safe. Trust is fundamental to our community, and we’re dedicated to preserving it.
</p>
</div>
</div><!-- /.row -->

<div class="row mt-4 justify-content-center">
<div class="col-md-4 col-lg-3">
<img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-shield.svg" class="img-fluid mb-3" alt="" aria-hidden="true" />
<h2 class="h5 mb-1">High standards</h2>
<p class="fs-7">We comply with international privacy standards and adhere to the most up-to-date market research guidelines.</p>
</div>
<div class="col-md-4 col-lg-3">
<img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-handshake.svg" class="img-fluid mb-3" alt="" aria-hidden="true" />
<h2 class="h5 mb-1">Opt out at any time</h2>
<p class="fs-7">Your participation is voluntary and you can request the deletion of your information at any time.</p>
</div>
<div class="col-md-4 col-lg-3">
<img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-chart-bar.svg" class="img-fluid mb-3" alt="" aria-hidden="true" />
<h2 class="h5 mb-1">Statistical purposes</h2>
<p class="fs-7">Information is analyzed and used to make inferences about a larger population based on a smaller sample, not specific individuals.</p>
</div>
</div><!-- /.row -->
</div><!-- /.panel -->
</div><!-- /.container -->


<!-- PANEL: FAQ -->
  <div class="panel border-0">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 mx-auto">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <p class="mt-4 mt-lg-0 mb-2 fw-bold">Frequently Asked Questions</p>
              <h2 class="mt-0">Do you have any questions?</h2>
              <img
                src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/product-test/woman-phone-m.webp"
                class="img-fluid mt-3 d-lg-none"
                alt=""
                aria-hidden="true"
              />
              <img
                src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/product-test/img_faq.webp"
                class="img-fluid mt-3 d-none d-lg-block"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="col-xs-12 col-lg-6 text-start" style="margin-top:35px;">
              <FaqAccordion />
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.panel -->

<FooterLinks/>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->
</Layout>
<script src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/scripts/lottie-player.js"></script>