---
import Layout from '../../layouts/Layout.astro';

import Header from '../../components/Header.astro';
import FooterLinks from '../../components/FooterLinks.astro';
---

<Layout title="About us">
<Header/>
<!-- START: Intro -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="my-5 py-0 py-lg-2">
                            <h1 class="mb-3">About Ipsos iSay</h1>
                            <p class="lead">We are your platform to share opinions, shape the world, and earn rewards. A global community where your voice drives positive change through partnerships with businesses, governments, and organizations.</p>
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/main-image.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="dotted-line my-5">
    </div><!-- container -->
</div><!-- END: Intro -->


<!-- START: Powered by Ipsos -->
<div class="panel py-3 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/group-of-people.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="my-5 mx-3 py-0 py-lg-2">
                            <h2 class="mb-3">Powered by Ipsos</h2>
                            <p class="lead">Ipsos iSay is part of Ipsos, one of the world’s leading research firms, established in 1975.</p>
                            <p class="lead">With a presence in over 50 countries, we bring decades of expertise in understanding public opinion and translating it into actionable insights.</p>
                        </div>				
                    </div>

                </div>
                
            </div><!-- col -->
        </div><!-- row -->
        <hr class="dotted-line my-5">
    </div><!-- container -->
</div><!-- END: Intro -->




<!-- START: Why Join Ipsos iSay? + Stats -->
<div class="panel pt-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="mb-3">Why Join Ipsos iSay?</h2>
            </div>
        </div>
        <div class="row text-center mt-4 mb-5">
            <div class="col-md-4 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-experimental.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Trusted Expertise</h3>
                <p>Backed by Ipsos, a global leader in market research, our platform is built on decades of trust and reliability.</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-bullhorn.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Diverse Opportunities</h3>
                <p>Participate in studies that interest you, from product testing to mystery shopping and healthcare research.</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="panel panel-bg-primary-minus-2 rounded py-4 h-100">
                <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-gift.svg" class="img-fluid mt-3" alt="">
                <h3 class="h4 pt-1 mt-3">Make a Difference</h3>
                <p>Your opinions have the power to create change. Influence the products and services you use every day by sharing your thoughts.</p>
              </div>
            </div>
          </div><!-- /.row -->


        <div class="row text-center">
            <div class="col">
                <h2 class="mb-3">Our Impact in Numbers</h2>
                <p class="lead">We’re proud of what we’ve achieved together.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8 mx-auto">
                <div class="row text-center mt-4 mb-5">
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-users.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">3M+ Users</h3>
                        <p>Worldwide</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-world.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">70+ Countries</h3>
                        <p>Available globally</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-survey.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">25M+ Studies</h3>
                        <p>Completed</p>
                    </div>
                    <div class="col-md-3 mb-4">
                        <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-gift-green.svg" class="img-fluid" alt="">
                        <h3 class="h5 pt-1 mt-3 mb-1">10M+ Rewards</h3>
                        <p>Earned and redeemed</p>
                    </div>
                  </div><!-- /.row -->
            </div><!-- /.col-8 mx-auto -->
        </div><!-- /.row mt-2 -->
        
        <hr class="dotted-line my-5">

    </div><!-- container -->
</div><!-- END: Why Join Ipsos iSay? + Stats -->


<!-- START: Our Commitment to You -->
<div class="panel py-0 m-0 mt-4 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="mt-2 mb-5 py-0 py-lg-2">
                            <h2 class="mb-3">Our Commitment to You</h2>
                            <ul class="list-unstyled">
                                <li>
                                    <h3 class="h4 d-flex align-items-center"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-fingerprint.svg" class="img-fluid me-2" alt=""> Privacy and Security</h3>
                                    <p class="lead">We adhere to strict privacy standards, ensuring that your data is protected and used responsibly. You have full control and can opt out or delete your information anytime.</p>
                                </li>
                                <li>
                                    <h3 class="h4 mt-4 pt-3 d-flex align-items-center"><img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/icon-giftcard.svg" class="img-fluid me-2" alt=""> Rewarding Participation</h3>
                                    <p class="lead">We value your time and effort. Ipsos iSay offers rewards like gift cards and cash for your input. Explore our catalog to find new earning opportunities.</p>
                                </li>
                            </ul>
                            
                        </div>				
                    </div>
                    <div class="col-lg-6">
                        <div class="d-none d-lg-block">
                            <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/about-us/woman-tablet.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- END: Intro -->


<!-- START: Last module -->
<div class="panel panel-bg-primary-minus-2 pt-4 mt-5">
    <div class="container">
        <div class="row text-center mt-5 mb-3">
            <div class="col-md-9 mx-auto">
                <div class="panel panel-default">
                    <h2 class="mb-3">Join Our Community</h2>
                    <p>
                        Be part of something bigger. Join Ipsos iSay today and help shape the world with your opinions. Whether you’re trying new products or influencing major decisions, your voice matters.
                    </p>
                    <a href="https://www.ipsosisay.com/join/?campaign_id=1000&locale=en_US&subid=home&extrasubid=" class="btn btn-primary btn-lg px-5 mt-4">Join now!</a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</div><!-- END: Last module -->
<FooterLinks/>
</Layout>
<script src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/scripts/lottie-player.js"></script>
<style>
</style>