---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";
---

<Layout title="Poll Predictor">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12">
          <div class="panel pt-0">
            <div class="row">
              <div class="col">
                <h1 class="h2 mt-2">Welcome to <span class="text-secondary">Poll Predictor</span>!</h1> 
                <p>Can you predict how other Ipsos iSay members answered our poll questions? Have fun seeing how close you can guess!</p>
                <p class="fs-7">
                  <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-circle-question"></i> What is Poll Predictor?</a>
                </p>
                
                <div class="dotted pt-1">
                  <label>
                    <div class="form-check my-3">
                      <input class="form-check-input" type="checkbox" /> I agree with the <a target="_blank" href="index.php?page=frank/privacy_policy&status=visitor">General Statements</a>.
                    </div><!-- form-check -->
                    <p class="text-danger mt-1 mb-0 d-none">You must agree to the General Statements before continuing.</p>
                  </label>
                </div>
              </div>
            </div><!-- row -->

            <div class="row mt-3">
              <div class="col-md-6">
                <a class="btn btn-primary px-4" href="/p1/pollpredictor/slider">Play now!</a>
              </div>
              <div class="col-md-6">
                <p class="mt-2 pt-1 fs-7 text-md-end">or <a href="javascript:void(0);" class="d-inline-block pe-3">Go to Dashboard</a></p>
              </div>
              
            </div><!-- row -->

          </div><!-- panel -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- MODAL: What is Poll Predictor? -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content px-3 py-4">
          <div class="modal-body">
            <h2 class="h4">What is Poll Predictor?</h2>
            <p>In Poll Predictor, your challenge is to guess the percentage of people who answered a question a certain way.
            </p>
            <h2 class="h4">How do you play?</h2>
            <ol class="ordered-list">
              <li class="mb-1">
                You'll be shown a question, then you'll be asked to guess the percentage of Ipsos iSay members who responded with a certain answer.
              </li>
              <li class="mb-1">
                Use the sliding bar to select a percentage from 0% to 100%.
              </li>
              <li class="mb-1">Place your prediction and see how close you get!</li>
            </ol>
            <div class="dotted-top mt-3">
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary mt-2 mb-0">Got it</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <FooterSurvey />
  </div><!-- /.container-fluid -->
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }

  @view-transition {
    navigation: auto; 
  }

  ol.ordered-list {
    padding-left: 1.2rem !important;
  }
  
</style>