---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";
---

<Layout title="Poll Predictor · Ipsos iSay">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12">
          <div class="panel pt-0">
            <div class="row">
              <div class="col">

                <div class="d-flex align-items-center">
                  <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/icons/fa-badge-percent.svg" class="img-fluid me-1" alt="Ipsos iSay" />
                  <h1 class="h2 mt-2">Check out your prediction results!</h1> 
                </div>
                
                <!-- Percentage Comparison Section -->
                <div class="row justify-content-center align-items-center text-center mb-5">
                  <div class="col-4">
                    <div class="display-3 text-purple">30%</div>
                    <small class="text-muted">
                      <i class="bi bi-arrow-up-circle-fill text-purple"></i>
                      <i class="fa-solid fa-circle-arrow-up text-secondary"></i> Your prediction
                    </small>
                  </div>
                  <div class="col-2">
                    <span class="text-muted fs-5">VS</span>
                  </div>
                  <div class="col-4">
                    <div class="display-3 text-navy">45%</div>
                    <small class="text-muted">Correct Answer (+15%)</small>
                  </div>
                </div>
                
                <p>Be sure to complete all your available surveys and keep your profile updated for your daily chance to play Poll Predictor! 😉</p>
              
                <div class="dotted-top mt-4">
                  <a href="javascript:void(0)" class="btn btn-primary mt-3 mb-0">Go to main page</a>
                </div>

              </div>
            </div><!-- row -->
          </div><!-- panel -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <FooterSurvey />
  </div><!-- /.container-fluid -->
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }

  @view-transition {
    navigation: auto; 
  }
  
</style>
