---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";

import SliderComponent from "../../../components/p1/pollpredictor/SliderComponent.astro";
---

<Layout title="Poll Predictor">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
          <div class="panel pt-0 text-center">
            <div class="row">
              <div class="col">
                <h1 class="h4 mt-2 fw-light">Do you think the Earth is flat?</h1>
                <p>Ipsos iSay members in the United States who answered YES</p>
                
                <SliderComponent />

                <div class="col-12 text-center">
                  <div class="d-grid gap-2 mb-3 text-center">
                    <a class="btn btn-primary btn-block" href="/p1/pollpredictor/interstitial">Place prediction</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <FooterSurvey />
  </div>
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }
</style>

<!-- Scripts -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" defer></script>