---
import Layout from "../../../layouts/Layout.astro";

import HeaderSurvey from "../../../components/survey/HeaderSurvey.astro";
import FooterSurvey from "../../../components/survey/FooterSurvey.astro";
---

<Layout title="Poll Predictor">
  <div class="container-fluid container-full-height px-0">
    <HeaderSurvey />
    <!-- Main Content -->
    <div class="container content">
      <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
          <div class="panel pt-0 text-center">
            <div class="row">
              <div class="col">
                <h1 class="h4 mt-2 fw-light">Do you think the Earth is flat?</h1> 
                <p>Ipsos iSay members in the United States who answered YES</p>
                
                <div class="mt-3 mb-4">

                  <!-- Explanatory tooltip -->
                  <div id="helpText" class="floating-tooltip animation">
                      Drag the slider to predict
                  </div>

                  <!-- Percentage -->
                  <span style="display:none;" id="userPredictionSliderValLabel" class="slider-value"><span id="userPredictionSliderVal">50</span><span class="percentage">%</span></span>

                  <input id="userPredictionSlider" type="range" min="0" max="100" step="1" value="50" data-bs-toggle="tooltip" title="Hide" />

                </div>

                <div class="col-12 text-center">
                  <div class="d-grid gap-2 mb-3 text-center">
                    <button id="loadingBtn" style="display:none" class="btn btn-primary btn-block m-progress disabled">&nbsp;</button>
                    <button id="loadedBtn" onclick="loadSurvey()" class="btn btn-primary btn-block">
                        Place prediction
                    </button>
                  </div><!-- /.mt-1 mb-3 text-center -->
              </div><!-- mt-1 text-muted text-center -->

              </div>
            </div><!-- row -->

          </div><!-- panel -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->


    <FooterSurvey />
  </div><!-- /.container-fluid -->
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  @view-transition {
    navigation: auto; 
  } 
  
</style>
