---
import Layout from '../../../layouts/Layout.astro';

import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';

// CSS to be optimized
import '../../../assets/styles/p1/censydiam-without-rec.css';
---
<Layout title="Censydiam">
    <Header/>
    <!-- START: Intro -->
    <div class="container">
        <div class="panel panel-intro-light pt-0">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/squad-home.webp" class="img-fluid" alt="" aria-hidden="true" />
                </div><!-- col -->
            </div><!-- row -->
            <div class="row mt-4">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">                    
                    <h1 class="h2 mb-3">Unleash Your Hidden  Superpower ⚡</h1>
                    <p class="lead">Embark on a thrilling journey of self-discovery with our engaging quiz. Are you a beacon of creativity or a powerhouse of wisdom? </p>
                    <a href="/p1/censydiam-without-rec/quiz_flow_01" class="btn btn-primary btn-start btn-lg px-3 mt-4">Start Quiz Now!</a>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- panel -->
    </div><!-- Container -->
    

   
    <Footer/>
</Layout>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>

<style>
.panel.panel-intro-light {
    background: linear-gradient(180deg, var(--Indigo-100, #DBE2FF) 0%, #FFF 93.45%);
    border-radius: 24px; 
}

.btn.btn-light.btn-start {
    color: #009CFF !important;
}
</style>