---
import Layout from "../../../layouts/Layout.astro";

import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout title="Censydiam">
  <div class="container-fluid container-full-height px-0">
    <Header />
    <!-- Main Content -->
    <div class="container content">
      <div class="panel text-center">
        <div class="row py-3">
          <div class="col-12">
            <h1 class="h3 mt-1 mb-1 fw-light">What is your choice?</h1>
            <p class="mt-1">Choose the picture that best reflects what you value in life.</p>

            <div class="pt-2 mt-3 choice">
              <a href="javascript:void(0);" class="choice"
                ><img
                  src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/choice.webp"
                  class="img-fluid rounded"
                  alt="Choice 1"
                  aria-hidden="true"
                /></a
              >
              <a href="javascript:void(0);" class="choice"
                ><img
                  src="https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/choice.webp"
                  class="img-fluid rounded"
                  alt="Choice 2"
                  aria-hidden="true"
                /></a
              >
            </div>
            <a href="/projects/censydiam/result/orange" class="btn btn-primary btn-start btn-lg px-5 mt-5">Next</a>
          </div><!-- col-12 -->
        </div><!-- row -->
      </div><!-- panel -->
    </div><!-- /.container -->

    <Footer />
  </div><!-- /.container-fluid -->
</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }

  @view-transition {
    navigation: auto;
  }

  ol.ordered-list {
    padding-left: 1.2rem !important;
  }

  .choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .choice a {
    flex: 1;
    max-width: 200px;
    margin: 15px;
    padding: 8px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
  }

  @media (min-width: 576px) {
    .choice a {
      max-width: 292px;
    }
  }
  .choice a:hover {
    background-color: #dbe2ff;
    border: 1px solid #2600ff;
  }

  .choice img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
</style>
