<div>
  <input
    id="ex8"
    data-slider-id="ex1Slider"
    type="text"
    data-slider-min="0"
    data-slider-max="100"
    data-slider-step="1"
    data-slider-value="14"
  />
</div>

<script>
  $(document).ready(function () {
    $("#ex8").slider({
      tooltip: "always",
      tooltip_position: "top", // Para ajustar la posición del tooltip
    });
  });
  
  </script>