/*  Buttons and navigation items
// ============================================================== */

button, a.btn {
    border-radius: 6px;
    border: 1px solid transparent !important;
    font-weight: 700 !important;
    padding: 9px 16px;

}

a.btn-primary, button.btn-primary {
    background: var(--bg-primary-default) !important;
    color: var(--text-foreground) !important;
}

a.btn-primary:hover, button.btn-primary:hover {
    background: var(--bg-primary-plus-1) !important;
    color: var(--text-foreground) !important;
}

a.btn-secondary {
    background: var(--bg-secondary-default);
    color: var(--text-foreground) !important;
}

a.btn-secondary:hover {
    background: var(--bg-secondary-plus-1);
    color: var(--text-foreground) !important;
}

a.btn-danger {
    background: var(--bg-danger-default);
    color: var(--text-foreground) !important;
}

a.btn-danger:hover {
    background: var(--bg-danger-plus-1);
    color: var(--text-foreground) !important;
}

a {
    font-weight: 700;
    color: var(--text-primary-default) !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--text-primary-plus-2) !important;
}


/*  Gray buttons */
a.btn-gray {
    background-color: var(--bg-gray-minus-2);
    color: var(--text-gray-plus-1) !important;
    border: 2px solid transparent !important;
}

a.btn-gray:hover, a.btn-white:hover {
    background-color: var(--bg-light-gray-plus-1);
}

a.btn-gray:focus, a.btn-white:focus {
    background-color: var(--bg-gray-minus-2);
    border: 2px solid var(--bg-gray-minus-2) !important;
}

a.btn-gray:active, a.btn-white:active {
    background-color: var(--bg-gray-minus-2);
    border: none;
}

a.btn-gray:disabled, a.btn-white:disabled {
    background-color: var(--bg-gray-minus-2);
    color: var(--text-disabled) !important;
}

/*  White buttons */
a.btn-white {
    background-color: var(--bg-default-default);
    color: var(--text-gray-plus-1) !important;
    border: 2px solid transparent !important;
}


/************** Buttons Outline **************/

/* Buttons Outline Default */
.btn.btn-outline-default {
    color: var(--text-default-plus-2) !important;
    border: 2px solid var(--stroke-default-default) !important;
    background: var(--bg-default-minus-2);
}

.btn.btn-outline-default:hover {
    color: var(--text-default-plus-2);
    border: 2px solid var(--stroke-default-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-default:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-default-default) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-default:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-default-plus-1) !important;
    background: var(--bg-default-default);
}

/* Buttons Outline Primary */
.btn.btn-outline-primary {
    color: var(--text-primary-plus-2) !important;
    border: 2px solid var(--stroke-primary-default) !important;
    background: var(--bg-primary-minus-2);
}

.btn.btn-outline-primary:hover {
    color: var(--text-primary-plus-2);
    border: 2px solid var(--stroke-primary-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-primary:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-primary-default) !important;
    background: var(--bg-primary-default);
}

.btn.btn-outline-primary:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-primary-plus-1) !important;
    background: var(--bg-primary-default);
}

/* Buttons Outline Secondary */
.btn.btn-outline-secondary {
    color: var(--text-secondary-plus-2) !important;
    border: 2px solid var(--stroke-secondary-default) !important;
    background: var(--bg-secondary-minus-2);
}

.btn.btn-outline-secondary:hover {
    color: var(--text-secondary-plus-2);
    border: 2px solid var(--stroke-secondary-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-secondary:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-secondary-default) !important;
    background: var(--bg-secondary-default);
}

.btn.btn-outline-secondary:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-secondary-plus-1) !important;
    background: var(--bg-secondary-default);
}

/* Buttons Outline Success */
.btn.btn-outline-success {
    color: var(--text-success-plus-2) !important;
    border: 2px solid var(--stroke-success-default) !important;
    background: var(--bg-success-minus-2);
}

.btn.btn-outline-success:hover {
    color: var(--text-success-plus-2);
    border: 2px solid var(--stroke-success-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-success:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-success-default) !important;
    background: var(--bg-success-default);
}

.btn.btn-outline-success:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-success-plus-1) !important;
    background: var(--bg-success-default);
}

/* Buttons Outline Warning */
.btn.btn-outline-warning {
    color: var(--text-warning-plus-2) !important;
    border: 2px solid var(--stroke-warning-default) !important;
    background: var(--bg-warning-minus-2);
}

.btn.btn-outline-warning:hover {
    color: var(--text-warning-plus-2);
    border: 2px solid var(--stroke-warning-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-warning:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-warning-default) !important;
    background: var(--bg-warning-default);
}

.btn.btn-outline-warning:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-warning-plus-1) !important;
    background: var(--bg-warning-default);
}

/* Buttons Outline Danger */
.btn.btn-outline-danger {
    color: var(--text-danger-plus-2) !important;
    border: 2px solid var(--stroke-danger-default) !important;
    background: var(--bg-danger-minus-2);
}

.btn.btn-outline-danger:hover {
    color: var(--text-danger-plus-2);
    border: 2px solid var(--stroke-danger-minus-1) !important;
    background: var(--bg-default-default);
}

.btn.btn-outline-danger:focus {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-danger-default) !important;
    background: var(--bg-danger-default);
}

.btn.btn-outline-danger:active {
    color: var(--text-foreground) !important;
    border: 2px solid var(--stroke-danger-plus-1) !important;
    background: var(--bg-danger-default);
}


/*  Loading button animation
// ============================================================== */

@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8; color: transparent !important; text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default; color: transparent; outline: none !important; box-shadow: none;
}

.m-progress:before {
    content: '';

    display: inline-block; position: absolute;
    background: transparent; border: 1px solid var(--white);
    border-top-color: transparent; border-bottom-color: transparent; border-radius: 50%; box-sizing: border-box;

    top: 50%; left: 50%;
    margin-top: -8px; margin-left: -8px;

    width: 16px; height: 16px;

    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-lg.m-progress:before { margin-top: -11px; margin-left: -16px; width: 22px; height: 22px; }