/*  Custom classes that are common through the app
// ============================================================== */

img.img-200px {
    max-width: 200px;
    height: auto;
}

.img-reward {
    border: 1px solid #E7E7E7;
    border-radius: 8px;
}

.badge.badge-transparent {
    color: var(--text-muted);
}

.badge.badge-success {
    color: var(--text-success-plus-2);
    background-color: var(--bg-success-minus-2);
    border: 2px solid var(--stroke-success-minus-2);
    border-radius: var(--border-radius-sm) !important;
}

.badge.badge-over-gray {
    color: var(--text-gray-default);
    background-color: var(--white);
    border: 2px solid var(--stroke-default-default);
    border-radius: var(--border-radius-xxs) !important;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
  
@media (max-width: 575.98px) {
    .truncate-text {
        /* font-size: 12px; */
    }
}
  
  

.dotted-line {
    border: none; border-top: 2px dotted var(--stroke-default-default);
    margin: 24px 0
}

.dotted-heading-container {
    position: relative;
    text-align: center;
}

.dotted-heading-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: repeating-linear-gradient(to right, #ccc 0, #ccc 2px, transparent 2px, transparent 6px);
    z-index: -1;
}

.dotted-heading {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    background: white;
}

/****************** JUST FOR THE PROTOTYPE: Not used in production ******************/
.btn-variants {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 1px solid #FAFAFA;
}