/*  Custom classes that are common through the app
// ============================================================== */

img.img-200px {
    max-width: 200px;
    height: auto;
}

.badge.badge-over-gray {
    color: var(--text-gray-default);
    background-color: var(--white);
    border: 2px solid var(--stroke-default-default);
    border-radius: var(--border-radius-xxs) !important;
}

.dotted-line {
    border: none; border-top: 2px dotted var(--stroke-default-default);
    margin: 24px 0
}


/****************** JUST FOR THE PROTOTYPE: Not used in production ******************/
.btn-variants {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 1px solid #FAFAFA;
}