
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Riot&display=swap');

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}

html, body {
    /*background: #fcfcf9;*/
    font-family: 'Inter', Arial, sans-serif;
    color: var(--text-main);
}


.h1, h1, .h2, h2, .h3, h3, .h4, .h5, .h6, h4, h5, h6, strong { 
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 700 !important;
    color: var(--text-main) !important;
}

h1, .h1 {
    font-size: 48px !important;
}

h2, .h2 {
    font-size: 40px !important;
}

h3, .h3 {
    font-size: 32px !important;
}

h4, .h4 {
    font-size: 24px !important;
}

h5, .h5 {
    font-size: 20px !important;
}

h6, .h6 {
    font-size: 16px !important;
}

.lead {
    font-weight: 400 !important;
}

p {
    color: var(--text-muted) !important;
}

.fs-7 {
    font-size: 12px;
    color: #666;
}

.fw-light {
    font-weight: 400 !important;
}

.text-main {
    color: var(--text-main) !important;
}

.text-primary {
    color: var(--text-primary-default) !important;
}

.text-secondary {
    color: var(--text-secondary-default) !important;
}

.text-success-plus-2 {
    color: var(--text-success-plus-2) !important;
}

.text-muted {
    color: var(--text-muted) !important;
}

/*  Panels
// ============================================================== */

.panel {
    padding: 60px 20px;
}

.panel .panel-primary {
    background: var(--white);
    border: 1px solid #DEE2E6 !important;
    border-left: none;
    border-right: none;
}

.panel-default {
    background: var(--white);
    border: 1px solid var(--stroke-default-minus-2);
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) {
    .panel.panel-primary {
        background: var(--white);
        border: none !important;
        border-radius: 0.5rem !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}

.panel-white           { background: var(--white);}
.panel-gray            { background: #fafafa; }
.panel-gray .panel-header,
.panel-gray .panel-footer { background:#fafafa; }

.panel-primary      { background-color: var(--bg-primary-default); }
.panel-secondary    { background-color: var(--bg-secondary-default); }
.panel-success      { background-color: var(--csuccess); }
.panel-warning      { background-color: var(--cwarning); }
.panel-danger       { background-color: var(--cdanger); }

.dotted, ul.dotted {
    padding: 10px 0 !important; border-top: 1px dotted var(--stroke-default-minus-2); border-bottom: 1px dotted var(--stroke-default-minus-2);
}

.dotted-top {
    padding-top: 10px !important; border-top: 1px dotted var(--stroke-default-minus-2);
}


/*  Alerts
// ============================================================== */

.alert.alert-success {
    background: var(--bg-success-minus-2);
    border: none;
}

/*  Progress bars
// ============================================================== */

.progress-bar {
    background: var(--stroke-primary-default);
}