
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Riot&display=swap');

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}

html, body {
    /*background: #fcfcf9;*/
    font-family: 'Inter', Arial, sans-serif;
    color: var(--text-main);
}


.h1, h1, .h2, h2, .h3, h3, .h4, .h5, .h6, h4, h5, h6, strong { 
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 700 !important;
    color: var(--text-main) !important;
}

h1, .h1 {
    font-size: 48px !important;
}

h2, .h2 {
    font-size: 40px !important;
}

h3, .h3 {
    font-size: 32px !important;
}

h4, .h4 {
    font-size: 24px !important;
}

h5, .h5 {
    font-size: 20px !important;
}

h6, .h6 {
    font-size: 16px !important;
}

.lead {
    font-weight: 400 !important;
}

p {
    color: var(--text-muted) !important;
}

.fs-5 {
    line-height: 1.4;
}

.fs-7 {
    font-size: 12px;
    color: #666;
}

.fw-light {
    font-weight: 400 !important;
}



/*  Text colors
// ============================================================== */

/* Text Colors */
.text-alternative {
    color: var(--text-alternative) !important;
}

.text-disabled {
    color: var(--text-disabled) !important;
}

.text-foreground {
    color: var(--text-foreground) !important;
}

.text-link {
    color: var(--text-link) !important;
}

.text-main {
    color: var(--text-main) !important;
}

.text-muted {
    color: var(--text-muted) !important;
}

.text-placeholder {
    color: var(--text-placeholder) !important;
}

/* Danger Text */
.text-danger {
    color: var(--text-danger-default) !important;
}

.text-danger-plus-1 {
    color: var(--text-danger-plus-1) !important;
}

.text-danger-plus-2 {
    color: var(--text-danger-plus-2) !important;
}

.text-danger-minus-1 {
    color: var(--text-danger-minus-1) !important;
}

.text-danger-minus-2 {
    color: var(--text-danger-minus-2) !important;
}

/* Gray Text */
.text-gray {
    color: var(--text-gray-default) !important;
}

.text-gray-plus-1 {
    color: var(--text-gray-plus-1) !important;
}

.text-gray-plus-2 {
    color: var(--text-gray-plus-2) !important;
}

.text-gray-minus-1 {
    color: var(--text-gray-minus-1) !important;
}

.text-gray-minus-2 {
    color: var(--text-gray-minus-2) !important;
}

/* Light Gray Text */
.text-light-gray {
    color: var(--text-light-gray-default) !important;
}

.text-light-gray-plus-1 {
    color: var(--text-light-gray-plus-1) !important;
}

.text-light-gray-plus-2 {
    color: var(--text-light-gray-plus-2) !important;
}

.text-light-gray-minus-1 {
    color: var(--text-light-gray-minus-1) !important;
}

.text-light-gray-minus-2 {
    color: var(--text-light-gray-minus-2) !important;
}

/* Primary Text */
.text-primary {
    color: var(--text-primary-default) !important;
}

.text-primary-plus-1 {
    color: var(--text-primary-plus-1) !important;
}

.text-primary-plus-2 {
    color: var(--text-primary-plus-2) !important;
}

.text-primary-minus-1 {
    color: var(--text-primary-minus-1) !important;
}

.text-primary-minus-2 {
    color: var(--text-primary-minus-2) !important;
}

/* Secondary Text */
.text-secondary {
    color: var(--text-secondary-default) !important;
}

.text-secondary-plus-1 {
    color: var(--text-secondary-plus-1) !important;
}

.text-secondary-plus-2 {
    color: var(--text-secondary-plus-2) !important;
}

.text-secondary-minus-1 {
    color: var(--text-secondary-minus-1) !important;
}

.text-secondary-minus-2 {
    color: var(--text-secondary-minus-2) !important;
}

/* Success Text */
.text-success {
    color: var(--text-success-default) !important;
}

.text-success-plus-1 {
    color: var(--text-success-plus-1) !important;
}

.text-success-plus-2 {
    color: var(--text-success-plus-2) !important;
}

.text-success-minus-1 {
    color: var(--text-success-minus-1) !important;
}

.text-success-minus-2 {
    color: var(--text-success-minus-2) !important;
}

/* Warning Text */
.text-warning {
    color: var(--text-warning-default) !important;
}

.text-warning-plus-1 {
    color: var(--text-warning-plus-1) !important;
}

.text-warning-plus-2 {
    color: var(--text-warning-plus-2) !important;
}

.text-warning-minus-1 {
    color: var(--text-warning-minus-1) !important;
}

.text-warning-minus-2 {
    color: var(--text-warning-minus-2) !important;
}


/*  Panels
// ============================================================== */

.panel {
    padding: 60px 20px;
}

.panel .panel-primary {
    background: var(--white);
    border: 1px solid #DEE2E6 !important;
    border-left: none;
    border-right: none;
}

.panel-default {
    background: var(--white);
    border: 1px solid var(--stroke-default-minus-2);
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) {
    .panel.panel-primary {
        background: var(--white);
        border: none !important;
        border-radius: 0.5rem !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}

.panel-white           { background: var(--white);}
.panel-gray            { background: #fafafa; }
.panel-gray .panel-header,
.panel-gray .panel-footer { background:#fafafa; }

.panel-primary              { background-color: var(--bg-primary-default); }
.panel-primary-minus-2      { background-color: var(--bg-primary-minus-2); }


.panel-secondary    { background-color: var(--bg-secondary-default); }
.panel-success      { background-color: var(--csuccess); }
.panel-warning      { background-color: var(--cwarning); }
.panel-danger       { background-color: var(--cdanger); }

/* Danger Backgrounds */
.panel-bg-danger-plus-1 { background: var(--bg-danger-plus-1); }
.panel-bg-danger-plus-2 { background: var(--bg-danger-plus-2); }
.panel-bg-danger-minus-1 { background: var(--bg-danger-minus-1); }
.panel-bg-danger-minus-2 { background: var(--bg-danger-minus-2); }
.panel-bg-danger-default { background: var(--bg-danger-default); }

/* Default Backgrounds */
.panel-bg-default-plus-1 { background: var(--bg-default-plus-1); }
.panel-bg-default-plus-2 { background: var(--bg-default-plus-2); }
.panel-bg-default-default { background: var(--bg-default-default); }

/* Gray Backgrounds */
.panel-bg-gray-plus-1 { background: var(--bg-gray-plus-1); }
.panel-bg-gray-plus-2 { background: var(--bg-gray-plus-2); }
.panel-bg-gray-minus-1 { background: var(--bg-gray-minus-1); }
.panel-bg-gray-minus-2 { background: var(--bg-gray-minus-2); }
.panel-bg-gray-default { background: var(--bg-gray-default); }

/* Light Gray Backgrounds */
.panel-bg-light-gray-plus-1 { background: var(--bg-light-gray-plus-1); }
.panel-bg-light-gray-plus-2 { background: var(--bg-light-gray-plus-2); }
.panel-bg-light-gray-minus-1 { background: var(--bg-light-gray-minus-1); }
.panel-bg-light-gray-minus-2 { background: var(--bg-light-gray-minus-2); }
.panel-bg-light-gray-default { background: var(--bg-light-gray-default); }

/* Primary Backgrounds */
.panel-bg-primary-plus-1 { background: var(--bg-primary-plus-1); }
.panel-bg-primary-plus-2 { background: var(--bg-primary-plus-2); }
.panel-bg-primary-minus-1 { background: var(--bg-primary-minus-1); }
.panel-bg-primary-minus-2 { background: var(--bg-primary-minus-2); }
.panel-bg-primary-default { background: var(--bg-primary-default); }

/* Secondary Backgrounds */
.panel-bg-secondary-plus-1 { background: var(--bg-secondary-plus-1); }
.panel-bg-secondary-plus-2 { background: var(--bg-secondary-plus-2); }
.panel-bg-secondary-minus-1 { background: var(--bg-secondary-minus-1); }
.panel-bg-secondary-minus-2 { background: var(--bg-secondary-minus-2); }
.panel-bg-secondary-default { background: var(--bg-secondary-default); }

/* Success Backgrounds */
.panel-bg-success-plus-1 { background: var(--bg-success-plus-1); }
.panel-bg-success-plus-2 { background: var(--bg-success-plus-2); }
.panel-bg-success-minus-1 { background: var(--bg-success-minus-1); }
.panel-bg-success-minus-2 { background: var(--bg-success-minus-2); }
.panel-bg-success-default { background: var(--bg-success-default); }

/* Warning Backgrounds */
.panel-bg-warning-plus-1 { background: var(--bg-warning-plus-1); }
.panel-bg-warning-plus-2 { background: var(--bg-warning-plus-2); }
.panel-bg-warning-minus-1 { background: var(--bg-warning-minus-1); }
.panel-bg-warning-minus-2 { background: var(--bg-warning-minus-2); }
.panel-bg-warning-default { background: var(--bg-warning-default); }

/* Gradient Backgrounds */
.panel-gradient-primary { background: linear-gradient(182deg, #FFF -8.8%, #F7F8FF 115.85%, #DBE2FF 265.55%); }
.panel-gradient-secondary { background: linear-gradient(180deg, #FFF 16.34%, #FDF4FF 100%); }



.dotted, ul.dotted {
    padding: 10px 0 !important; border-top: 1px dotted var(--stroke-default-minus-2); border-bottom: 1px dotted var(--stroke-default-minus-2);
}

.dotted-top {
    padding-top: 10px !important; border-top: 1px dotted var(--stroke-default-minus-2);
}


/*  Alerts
// ============================================================== */

.alert.alert-success {
    background: var(--bg-success-minus-2);
    border: none;
}

/*  Progress bars
// ============================================================== */

.progress-bar {
    background: var(--stroke-primary-default);
}