---
// PointsAwarded Library
import PointsAwarded from "../../../components/survey/points/PointsAwarded.astro";

// Points controller 
var CurrentPoints = 250;
var NewPoints = 5;

---

<!-- Animation frame 1 -->
<div id="points-animation-frame1" style="display: none;">
  <li id="account-balance" class="nav-item d-flex align-items-center me-2 text-end" >
    <div id="badge-new-static"> 
        <div class="d-flex flex-column align-items-start text-right border-end pe-3">
            <span class="fs-7 fw-normal">Account <br>Balance</span> 
        </span>
        </div>
    </div>
    <div class="container">
        <section class="staticPointText-box">
          <i class="fa-solid fa-star customStar"></i>
          <div class="static-points-text">
                <span id="thePoints" >
                  {CurrentPoints}
                </span>
              </div>
        </section>
      </div>
  </li>
</div>

<!-- Animation frame 2 -->
<div id="points-animation-frame2" style="display: none;">
  <li class="nav-item d-flex align-items-center me-2 text-end" style="display: none;">                   
    <div class="d-flex flex-column align-items-start text-right">
        <div id="new-points">
            <i class="fa-solid fa-star customStar"></i>&nbsp;
            <span class="fs-4 fw-bold" style="color: #58867D;"> +{NewPoints}&nbsp;</span>
            <span class="fs-4 fw-bold">new points! </span>
        </div>
    </div>
    <div class="hint-box" id="hint-box" style="display: none;">
        <div class="arrow"></div>
        <div class="hint-content">For answering profile questions</div>
    </div>
  </li>
</div>

<!-- Animation frame3 -->
<div id="points-animation-frame3" style="display: none;">
  <li class="nav-item d-flex align-items-center me-2 text-end" >
      <div id="badge-new"> 
          <span class="badge rounded-pill text-bg-success fs-7 px-3 py-2 me-2">New!</span>
          <div class="d-flex flex-column align-items-start text-right border-end pe-3">
              <div id="smiling-warpper">
                  <span class="fs-7 fw-normal">Account <br>Balance</span> 
                  <span class="ms-2" id="smiling-emoji" style="display: none;">😎</span>
              </div>
          </div>
      </div>
      <div id="points-Awarded"> 
        <!-- New Points Awarded Rotating Effect Components -->
        <PointsAwarded initialNumber={CurrentPoints} steps={NewPoints} />
      </div>
  </li>
</div>

<!-- <script> -->
<script lang="ts" define:vars={{ CurrentPoints, NewPoints }}>
    document.addEventListener('DOMContentLoaded', function() {

        const pathname = window.location.pathname;
        const animationStep1 = document.getElementById('points-animation-frame1');

        // Check if the current path matches the required URL pattern
        if (animationStep1 && pathname.startsWith('/p1/profiling/completed')) {

            const animationFrame1 = document.getElementById('points-animation-frame1');
            const animationFrame2 = document.getElementById('points-animation-frame2');
            const animationFrame3 = document.getElementById('points-animation-frame3');
            const hintsBox = document.getElementById('hint-box');
            const newAddPoints = document.getElementById('new-points');
            const badgeNew = document.getElementById('badge-new');
            const pointsAwarded = document.getElementById('points-Awarded');
            const smilingEmoji = document.getElementById('smiling-emoji');

            var hintsBoxAnimationEnd = false
            animationStep1.style.display = 'flex';

            // Main Animation Frames Logic
            if (animationFrame1 && animationFrame2 && hintsBox && newAddPoints && badgeNew && animationFrame3 && pointsAwarded &&smilingEmoji) {

                // Listen for the end of the Frame1 animation
                animationFrame1.addEventListener('animationend', function() {
                    // Apply fade-out animation after fade-in completes
                    animationFrame1.style.animation = 'fadeOut 1s ease-in-out forwards';
                    setTimeout(() => {
                        animationStep1.style.display = 'block';
                        animationFrame2.style.display = 'block';
                        animationFrame2.style.animation = 'slideLeftFadeIn 1s ease-in-out forwards';
                    }, 1000);
                });

                // Listen for the end of the Frame2 animation
                animationFrame2.addEventListener('animationend', function() {
                    if(hintsBoxAnimationEnd) {
                        return;
                    }
                    setTimeout(() => {
                        hintsBoxAnimationEnd = true;
                        hintsBox.style.display = 'block';
                        hintsBox.style.animation = 'fadeIn 0.5s ease-in-out forwards';
                    }, 300);
                });

                hintsBox.addEventListener('animationend', function() {
                    setTimeout(() => {
                        hintsBox.style.animation = 'slideRightFadeOut 0.5s ease-in-out forwards';
                        newAddPoints.style.animation = 'slideLeftFadeOut 0.5s ease-in-out forwards';
                        setTimeout(() => {
                            animationFrame3.style.display = 'block';
                            badgeNew.style.animation = 'slideLeftFadeIn 0.5s ease-in-out forwards';
                            pointsAwarded.style.animation = 'slideRightFadeIn 0.5s ease-in-out forwards';
                        }, 550);
                    }, 100);
                });

                pointsAwarded.addEventListener('animationend', function() {
                    setTimeout(() => {
                        smilingEmoji.style.display = 'block';
                        smilingEmoji.style.animation = 'slideLeftFadeIn 0.5s ease-in-out forwards';
                    }, 550*NewPoints); //Update the number of steps here
                });
            }
        }
    });
</script>

<!-- <style> -->
<style>
    .customStar {
        font-size: 25px;
        color: #d3681b;
    }

    .staticPointText-box {
        width: 100px;
        height: 40px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .static-points-text {
        font: normal 2.5em/1.2 sans-serif;
        color: #a4bb28;
        height: 1.2em;
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0 0 0.1em 0;
    }

    .static-points-text > span {
        height: 1.2em;
    }

    .static-points-text > span:last-of-type {
        font-weight: 500;
        display: inline-block;
        color: #000000;
        position: relative;
        white-space: nowrap;
        bottom: 0;
        left: 0;
    }

    #new-points,
    #badge-new {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @keyframes slideLeftFadeIn {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideRightFadeIn {
        from {
            opacity: 0;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideLeftFadeOut {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(100px);
        }
    }

    @keyframes slideRightFadeOut {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(-100px);
        }
    }

    #animationFrame2 {
        opacity: 1; 
        animation: slideLeftFadeIn 2s ease-in-out forwards; 
    }

    #points-animation-frame1 {
        opacity: 0; 
        animation: fadeIn 2s ease-in-out forwards; 
    }

    .hint-box {
        position: absolute;
        top: 40px;
        width: 200px;
        padding: 10px;
        border: 1px solid #e4e4e4;
        background-color: #fff; 
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 7px solid #e4e4e4; 
        position: absolute;
        top: -7px; 
        left: 50%;
        transform: translateX(-50%);
    }

    .hint-content {
        font-size: 14px;
        color: #c1c1c1; 
    }

    #smiling-warpper {
        display: flex;
        align-content: center;
        align-items: center;
    }
</style>
