---
import Layout from "../../../layouts/Layout.astro";

import HeaderClear from "../../../components/HeaderClear.astro";
import FooterClear from "../../../components/FooterClear.astro";

import { Image } from "astro:assets";
import imgRewards from "../../../assets/images/p1/recruitment/landingMain.png";
---

<Layout title="Survey Experience">
  <HeaderClear />
  <!-- Main Content -->
  <div class="custom-container container-fluid vh-80">
    <div class="row h-100">
      <!-- Left Side - Large Image -->
      <div class="col-md-6 d-flex justify-content-center align-items-center p-0">
        <div class="image-container">
          <Image src={imgRewards} class="img-fluid" alt="Woman holding a phone and a coffee cup" aria-hidden="true" class="img-fluid w-100 h-100 object-fit-cover curved-image" />
        </div>
      </div>
      <!-- Right Side - Form with custom container -->
      <div class="mb-4 col-md-6 d-flex justify-content-center align-items-start right-side">
        <div>
          <h2 class="mb-4"></h2>
          <h1 class="h3 mb-1">Sign up</h1>
          <p class="mb-4">And have your say</p>
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Insert your email.." />
            </div>
            <div class="mb-3 position-relative">
              <label for="password" class="form-label">Password</label>
              <div class="password-container">
                <input type="password" class="form-control" id="password" placeholder="Create a password.." />
                <div id="togglePassword">
                  <i class="fa fa-eye password-toggle" id="eye" style="cursor: pointer;"></i>
                  <i class="fa fa-eye-slash password-toggle" id="eyeslash" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
            <div class="mb-1">
              <ul>
                <li>Passwords are case-sensitive and must be at least 10 characters long.</li>
                <li>They must include 1 uppercase letter, 1 lowercase letter, 1 special character, and 1 number.</li>
              </ul>
            </div>
            <div class="mt-4 mb-4">
              <hr class="custom-line" />
            </div>
            <div class="d-flex align-items-start customCheckBoxWrapper">
              <div class="customCheckBox mt-2">
                <input type="checkbox" name="optionsRadios" id="checkOther" value="other" />
                <label for="checkOther"></label>
              </div>
              <p class="tncText ms-2 mt-0 pt-1 mt-sm-2 pt-sm-1 mt-md-0 pt-md-1">
                I have read and accept the
                <strong><a href="terms.html" target="_blank">Terms and Conditions</a></strong>
                and
                <strong><a href="privacy.html" target="_blank">Privacy Policy</a></strong>.
              </p>
            </div>
            <a type="submit" class="btn btn-primary w-100 mt-2">Create an account</a>
            <div class="signIn text-center mt-3">
              <p class="tncText">
                Already a user?
                <strong><a href="signin.html" target="_blank">Sign in</a></strong>
              </p>
            </div>
          </form>
        </div>
      </div>
      <FooterClear />
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("password");

    if (togglePassword && passwordInput) {
      togglePassword.addEventListener("click", function () {
        // Toggle the type attribute of the password field
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type);

        // Toggle the eye icon
        const eyeOpen = document.getElementById("eye");
        const eyeSlash = document.getElementById("eyeslash");

        if (type === "password" && eyeOpen && eyeSlash) {
          eyeOpen.style.visibility = "hidden";
          eyeSlash.style.visibility = "visible";
        }

        if (type === "text" && eyeOpen && eyeSlash) {
          eyeOpen.style.visibility = "visible";
          eyeSlash.style.visibility = "hidden";
        }
      });
    }
  });
</script>

<style>
  .right-side {
    padding-left: 64.5px;
  }

  /* .customCheckBox */
  .customCheckBox {
    position: relative;
    float: left;
    margin: 10px;
  }

  .customCheckBox label {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #939096 !important;
  }

  .customCheckBox label:after {
    content: "";
    width: 10px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #939096;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


  .customCheckBox input[type="checkbox"] {
    visibility: hidden;
  }

  .customCheckBox input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  /* end .customCheckBox */

  .label-text {
    position: relative;
    left: 10px;
  }

  /*
  .customCheckBoxWrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  */

  .tncText {
    /* width: 300px; */
    /* Font/Size7/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #767279;
    margin-top: 3px;
  }

  #togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .form-label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #02103f;
  }

  #email,
  #password {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 14px;
    gap: 8px;
    /* width: 320px; */
    height: 40px;
    min-height: 40px;
    background: #f8f9ff;
    border: 2px solid #2f469c;
    border-radius: 6px;
  }

  input[type="email"]::placeholder,
  input[type="password"]::placeholder {
    color: #6478c3; /* Customize the color */
    opacity: 1;
  }

  .password-container {
    position: relative;
  }

  .password-container input {
    width: 100%;
    padding-right: 40px; /* Space for the icon */
  }

  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust based on design */
    transform: translateY(-50%);
    color: #6478c3; /* Customize the color */
    pointer-events: auto; /* Ensure click events are handled */
  }

  .password-toggle:hover {
    color: #6478c3; /* Customize the color */
  }

  ul {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #767279;
  }

  .custom-line {
    opacity: 1;
    border: none;
    border-top: 3px dotted #b8b7b9;
    margin: 20px 0; /* Adjust the spacing around the line */
    width: 100%; /* Full width */
  }

  .custom-container {
    max-width: 903px;
    padding-left: 63.5px;
    padding-right: 63.5px;
    padding-top: 59px;
    height: 80vh;
  }

  .termsCheckbox label {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #d7b1d7;
    border-radius: 4px;
    border: 2px solid #939096 !important;
  }

  /* Create a container with background gradient */
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../../assets/images/p1/recruitment/Gradient.png")
      no-repeat top center;
    background-size: cover;
    border-radius: 20px;
  }

  /* Add border radius to the image */
  .curved-image {
    /* min-height: 300px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    mix-blend-mode: multiply; /* Apply the blend mode */
  }

  /* Ensure the image maintains some height on mobile */
  @media (max-width: 768px) {
    .image-container {
      width: 500px;
      height: 100%;
      min-height: 350px;
    }


    /* Adjust padding for smaller screens */
    .custom-container {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 16px;
      height: 100vh; /* Change height to 0% of viewport on mobile */
    }
  }

  .panel.panel-default.padding-md img {
    width: 175px;
    height: 175px;
  }

  .panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .box-scroll {
    height: 250px;
    overflow-y: auto;
    border: 1px solid var(--cborder);
    border-radius: 6px;
    margin-right: 5px;
    padding: 10px;
  }

  /* css for mobile mode */
  @media screen and (max-width: 768px) {
    .custom-container {
      padding-left: 24px;
      padding-right: 24px;
    }

    .right-side {
      padding-left: 16px;
      padding-right: 16px;
    }

    .customCheckBoxWrapper {
      align-items: baseline;
    }
  }
</style>